%h2 Editing My Profile

= form_for @user, :url => profile_path, :html=>{:multipart=>true} do |u|
  = u.error_messages
  = u.label :login,:class=>"required"
  = u.text_field :login
  = u.label :password
  = u.password_field :password, :value => "", :autocomplete => "off"
  = u.label :password_confirmation
  = u.password_field :password_confirmation
  = u.label :firstname,:class=>"required"
  = u.text_field :firstname
  = u.label :middlenames
  = u.text_field :middlenames
  = u.label :lastname,:class=>"required"
  = u.text_field :lastname
  = u.label :email,:class=>"required"
  = u.text_field :email
  = u.label :salutation
  = u.text_field :salutation
  = u.label :institution_name
  = u.text_field :institution_name
  = u.label :institution_url
  = u.url_field :institution_url
  = u.label :institution_phone
  = u.phone_field :institution_phone
  = u.label :institution_fax
  = u.text_field :institution_fax
  = u.label :url
  = u.url_field :url
  = u.label :country
  = u.text_field :country
  = u.label :city
  = u.text_field :city
  = u.label :street
  = u.text_field :street
  = u.label :comment
  = u.text_area :comment
  .avatar
    = u.label :avatar,"Change Avatar"
    = image_tag @user.avatar.url(:small)
    = u.file_field :avatar

  = u.submit "Save"