= content_for :actions do
  = link_to edit_profile_path do
    = image_tag "edit.png"
    = "Edit My profile"
  = link_to votes_profile_path do
    = image_tag "checkbox.png"
    = "Paperproposal Votes"
  = link_to new_dataset_path do
    = image_tag "file-upload.png"
    = "Create dataset"
  = link_to new_paperproposal_path do
    = image_tag "document.png"
    = "Create paperproposal"
  = link_to update_credentials_profile_path, :confirm => "Really update your api login credentials?" do
    = image_tag "reload.png"
    = "Update api login credentials"

= render :template => 'users/show'

