= content_for :actions do
  = link_to edit_profile_path do
    = image_tag "edit.png"
    = "Edit My profile"
  = link_to votes_profile_path do
    = image_tag "checkbox.png"
    = "Data requests"
  = link_to new_dataset_path do
    = image_tag "file-upload.png"
    = "Create dataset"
  = link_to new_paperproposal_path do
    = image_tag "document.png"
    = "Create paperproposal"

= content_for :info do
  %h3 My login credentials
  .input-group
    = text_field_tag :single_access_token, @user.try(:single_access_token), :id => "api", :readonly => true, :onclick => 'this.select();'
    = content_tag :span, 'Copy', id: 'copy-btn', class: 'button input-group-addon', 'data-clipboard-target' => "api"
  = link_to 'Refresh', update_credentials_profile_path, method: :post, remote: true, id: 'change_api', class: 'button'
  %em used in
  = link_to 'rBEFdata', 'http://cran.r-project.org/web/packages/rbefdata', target: '_blank', title: 'sfsdfsf', id: 'test-tooltip'

= render :template => 'users/show'

= javascript_include_tag 'ZeroClipboard.min'

:javascript
  $(function(){
    $("#copy-btn").zeroClipboard();

    $("#change_api").click(function(){
      $(this).text('Refreshing...');
    });
  });
