= content_for :actions do
  = link_to votes_history_profile_url do
    = image_tag "list-ordered.png"
    Voting History

- if @project_board_votes.empty? && @dataset_votes.empty?
  %p Currently there are no votes to give for you.

- unless @project_board_votes.empty?
  %h2 Project Board Votes
  - @project_board_votes.each do |vote|
    = render :partial => 'paperproposals/open_vote', :locals => {:vote => vote}

- unless @dataset_votes.empty?
  - @dataset_votes.each do |vote|
    = render :partial => 'paperproposals/open_vote', :locals => {:vote => vote}
