<h1>Editing context_freeproject</h1>

<% form_for(@context_freeproject) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </p>
  <p>
    <%= f.label :context_id %><br />
    <%= f.text_field :context_id %>
  </p>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @context_freeproject %> |
<%= link_to 'Back', context_freeprojects_path %>