<h1>Listing context_freeprojects</h1>

<table>
  <tr>
    <th>Project</th>
    <th>Context</th>
    <th>Comment</th>
  </tr>

<% @context_freeprojects.each do |context_freeproject| %>
  <tr>
    <td><%=h context_freeproject.project_id %></td>
    <td><%=h context_freeproject.context_id %></td>
    <td><%=h context_freeproject.comment %></td>
    <td><%= link_to 'Show', context_freeproject %></td>
    <td><%= link_to 'Edit', edit_context_freeproject_path(context_freeproject) %></td>
    <td><%= link_to 'Destroy', context_freeproject, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New context_freeproject', new_context_freeproject_path %>