- content_for :actions do
  %ul
    %li
      = link_to approve_dataset_url(@dataset) do
        = image_tag "list-ordered.png"
        Overview
    %li
      = link_to approval_quick_dataset_url(@dataset) do
        = image_tag("checkbox.png")
        Quick Approval

- content_for :info do
  %h3 Datacolumns
  %ul#datacolumns-list
    - @dataset.datacolumns.each do |c|
      %li
        = link_to approval_overview_datacolumn_url(c) do
          %span{:class => "approval-status approval-stage-#{c.approval_stage.to_s}"}= ''
          = c.columnheader
  %h3 Color legend
  %ul
    %li
      %span{:class => 'approval-status approval-stage-0'}= ''
      Datacolumn untouched
    %li
      %span{:class => 'approval-status approval-stage-1'}= ''
      Datagroup approved
    %li
      %span{:class => 'approval-status approval-stage-2'}= ''
      Datatype approved
    %li
      %span{:class => 'approval-status approval-stage-3'}= ''
      Invalid Values approved
    %li
      %span{:class => 'approval-status approval-stage-4'}= ''
      Metadata approved, complete


