%ul
  - if may_download_dataset?
    %li
      = link_to :controller => :datasets, :action => 'download', :id => @dataset.id do
        = image_tag("save.png")
        = "Download (state: #{@dataset.download_generation_status})"
    -if current_user && (current_user.has_role?(:owner, @dataset) || current_user.has_role?(:admin) || current_user.has_role?(:data_admin))
      %li
        = link_to :controller => :datasets, :action => 'regenerate_download', :id => @dataset.id do
          = image_tag("checkbox.png")
          = "Regenerate Download"
    %li
      = link_to :controller => :datasets, :action => 'download', :format => :csv, :id => @dataset.id do
        = image_tag("save.png")
        Download CSV
    %li
      = link_to :controller => :datasets, :action => 'download', :format => :csv, :id => @dataset.id, :seperate_category_columns => true do
        = image_tag("save.png")
        Download CSV with seperate columns for categories
  - if current_user
    %li
      = link_to dataset_path(:id => @dataset, :format => :eml) do
        = image_tag("save.png")
        Download EML
    %li
      = link_to create_cart_context_path(:dataset_id => @dataset.id), :method => :post do
        = image_tag("cart.png")
        Add to Cart
    - if current_user.has_role?(:owner, @dataset) || current_user.has_role?(:admin)
      %li
        = link_to edit_dataset_path(@dataset) do
          = image_tag("edit.png")
          Edit Metadata
    - if current_user.has_role?(:owner, @dataset) || current_user.has_role?(:admin)
      %li
        = link_to edit_files_dataset_path(@dataset) do
          = image_tag("edit.png")
          Edit Files
    - if @dataset.has_research_data? && (current_user.has_role?(:owner, @dataset) || current_user.has_role?(:admin))
      %li
        = link_to approve_dataset_path(@dataset), :class=>"approval-complete-#{@dataset.approval_finished?}" do
          = image_tag("checkbox.png")
          Approve Data Columns
    - if current_user.has_role?(:admin) && (@dataset.paperproposals.empty?)
      %li
        = link_to dataset_path(@dataset), :method => :delete, :confirm => "Do you really want to delete this dataset?" do
          = image_tag("trash.png")
          Delete

