= form_for @dataset, :html => {:class => 'dataset-create-form'} do |f|
  = error_messages_for @dataset

  %h4 Title
  %dl
    %dd= f.text_field :title, :class => 'text-input'

  %h4 Ownership information
  - unless @unfound_usernames.blank?
    %p
      The following names could not be matched within the portal:
      = @unfound_usernames.join(', ')
  %dl
    %dt= label_tag 'Owners', nil
    %dd= select "person", "person_id", all_users_names_and_ids_for_select, {:prompt => 'Select Member'}, {:onchange => 'selectPeople(this)'}
  %ul#people-list
    - @dataset.owners.each do |user|
      %li{:onclick => "this.parentNode.removeChild(this);"}
        %input{:name => "people[]", :type => "hidden", :value => user.id}/
        = image_tag 'cancel.png'
        = user.to_label
  %dl
    %dt= label_tag 'Select projects', nil
    %dd= select "project", "project_id", all_projects_for_select, {:prompt => 'Select Project'}, {:onchange => 'selectProjects(this)'}
  %ul#projects-list{:style => 'list-style: none;'}
    - @dataset.projects.each do |project|
      %li{:onclick => "this.parentNode.removeChild(this);"}
        %input{:name => "dataset[project_ids][]", :type => "hidden", :value => project.id}/
        = image_tag 'cancel.png'
        = project.to_label

  %h4 Access Rights
  %p
    Check the box below to enable all visitors of the site (logged in members or other interested readers of the page)
    to download the metadata, data (if applicable), and attached files of your dataset.
  %dl
    %dt= label_tag 'Free for Public'
    %dd= f.check_box :free_for_public
  %p
    Check the box below to allow logged in members of all projects
    to download the metadata, data (if applicable), and attached files of your dataset.
  %dl
    %dt= label_tag 'Free for Members'
    %dd= f.check_box :free_for_members
  %p
    Check the box below to allow logged in members of your projects (those projects named as dataset owning projects)
    to download the metadata, data (if applicable), and attached files of your dataset.
  %dl
    %dt= label_tag 'Free within Projects'
    %dd= f.check_box :free_within_projects

  %h4 General Metadata
  %dl
    %dt= f.label :tag_list, "Keywords(separated by comma)"
    %dd= f.text_field :tag_list,{:id => "tag_list", :class => "metadata-text-input", "data-tags"=> all_tags_for_select2}

    %dt= label_tag 'abstract'
    %dd= f.text_area :abstract

  - if  @dataset.has_research_data? || controller.action_name =="edit"
    %dl
      %dt= label_tag 'Usage rights'
      %dd= f.text_area :usagerights
    %dl
      %dt= label_tag 'published'
      %dd= f.text_area :published
    %dl
      %dt= label_tag 'Spatial extent'
      %dd= f.text_area :spatialextent
    %dl
      %dt= label_tag 'Research start date'
      %dd= f.date_select :datemin, :default => @dataset.datemin, :start_year => Time.now.year - 15, :end_year => Time.now.year + 5
    %dl
      %dt= label_tag 'Research end date'
      %dd= f.date_select :datemax, :default => @dataset.datemax, :start_year => Time.now.year - 15, :end_year => Time.now.year + 5
    %dl
      %dt= label_tag 'Temporal extent'
      %dd= f.text_area :temporalextent
    %dl
      %dt= label_tag 'Taxonomic extent'
      %dd= f.text_area :taxonomicextent
    %dl
      %dt= label_tag 'design'
      %dd= f.text_area :design
    %dl
      %dt= label_tag 'Data analysis'
      %dd= f.text_area :dataanalysis
    %dl
      %dt= label_tag 'circumstances during data acquisition'
      %dd= f.text_area :circumstances

  %p
    If you have any comments which you only want to share with administrators and members of the project board use this
    field. This special comment field can not be seen by any other members of the project. However, project board
    members, administrators and you will see the comment on listing pages such as the project or staff pages.
    %dl
      %dt= label_tag 'comment'
      %dd= f.text_area :comment

  - unless @dataset.has_research_data? || controller.action_name=="edit"
    %p
      More details about this dataset can be entered later by editing it.

  %dl
    %dt
    %dd= submit_tag 'Save Metadata'

:javascript
  $(document).ready(function(){
    $("#tag_list").select2({
      tags: $("#tag_list").data("tags"),
      tokenSeparators: [",", ";", "，"],
      width: "resolve",
      minimumInputLength: 1,
      formatInputTooShort: function(){return ""}
    });
  });
