= form_for @dataset, :html => {:class => 'dataset-create-form span-8 append-1'} do |f|
  = error_messages_for @dataset

  %h4 Title
  %dl
    %dd= f.text_field :title, :class => 'text-input'

  %h4 Ownership information
  - unless @unfound_usernames.blank?
    %p
      The following names could not be matched within the portal:
      = @unfound_usernames.join(', ')
  %dl
    %dt= label_tag 'Owners', nil
    %dd= select "person", "person_id", all_users_names_and_ids_for_select, {:prompt => 'Select Member'}, {:onchange => 'selectPeople(this)'}
  %ul#people-list
    - @dataset.owners.each do |user|
      %li{:onclick => "this.parentNode.removeChild(this);"}
        %input{:name => "people[]", :type => "hidden", :value => user.id}/
        = image_tag 'cancel.png'
        = user.to_label
  %dl
    %dt= label_tag 'Select projects', nil
    %dd= select "project", "project_id", all_projects_for_select, {:prompt => 'Select Project'}, {:onchange => 'selectProjects(this)'}
  %ul#projects-list{:style => 'list-style: none;'}
    - @dataset.projects.each do |project|
      %li{:onclick => "this.parentNode.removeChild(this);"}
        %input{:name => "dataset[project_ids][]", :type => "hidden", :value => project.id}/
        = image_tag 'cancel.png'
        = project.to_label

  %h4 Access Rights
  %div#access
    %noscript Enable javascript for this slider to work
    = f.range_field :access_code, :id => 'access-code', :min => 0, :max => 3, :step => 1, :class => 'hidden'
    %div#access-explanations
      %p.term#access-0
        %b Private:
        No one can download this data and its attachments, Unless his/her paper proposal has been accepted.
      %p.term#access-1
        %b Free within projects:
        Members of projects you selected above can download this data and its attachments
      %p.term#access-2
        %b Free for members:
        All members of the portal can download this data and its attachments
      %p.term#access-3
        %b Free for public:
        All people can download this data and its attachments
    %div#access-code-slider
    %div#ticks
      %span.tick{style: 'left: 0;text-align: left;margin-left: 0px'}<
        |
        %br> Private
      %span.tick{style: 'left: 33.3333334%;'}<
        |
        %br> Free within projects
      %span.tick{style: 'left: 66.667%;'}<
        |
        %br> Free for members
      %span.tick{style: 'right: 0;text-align: right;'}<
        |
        %br> Free for public
  %div
    %div#license-controller{class: @dataset.free_for_public? ? 'right' : 'right hidden'}
      = f.check_box :include_license?, style: 'margin: 0px;'
      = f.label :include_license? do
        Include a copy of
        = link_to 'Open Data Access License', '#', id: 'show-license', title: 'Click to read the sample license'
    %dl
      %dt= f.label :usagerights, 'Additional Notes on Usage rights'
      %dd= f.text_area :usagerights

  %div#sample-license.hidden
    %h3 Open Data Access User License
    = render :partial => 'sample_license', :locals =>  {:f => @dataset}
    = link_to 'Close', '#', class: 'button simplemodal-close', style: 'margin-left: 1px;'

  %h4 General Metadata
  %dl
    %dt= f.label :tag_list, "Keywords(separated by comma)"
    %dd= f.text_field :tag_list,{:id => "tag_list", :class => "metadata-text-input", "data-tags"=> all_tags_for_select2}

    %dt= f.label :abstract, 'Abstract'
    %dd= f.text_area :abstract

  - if  @dataset.has_research_data? || controller.action_name =="edit"
    %dl
      %dt= f.label :published, 'Published'
      %dd= f.text_area :published
    %dl
      %dt= f.label :spatialextent, 'Spatial Extent'
      %dd= f.text_area :spatialextent
    %dl
      %dt= label_tag 'Research Start Date'
      %dd= f.date_select :datemin, :default => @dataset.datemin, :start_year => Time.now.year - 15, :end_year => Time.now.year + 5
    %dl
      %dt= label_tag 'Research End Date'
      %dd= f.date_select :datemax, :default => @dataset.datemax, :start_year => Time.now.year - 15, :end_year => Time.now.year + 5
    %dl
      %dt= f.label :temporalextent, 'Temporal Extent'
      %dd= f.text_area :temporalextent
    %dl
      %dt= f.label :taxonomicextent, 'Taxonomic Extent'
      %dd= f.text_area :taxonomicextent
    %dl
      %dt= f.label :design, 'Design'
      %dd= f.text_area :design
    %dl
      %dt= f.label :dataanalysis, 'Data Analysis'
      %dd= f.text_area :dataanalysis
    %dl
      %dt= f.label :circumstances, 'Circumstances During Data Acquisition'
      %dd= f.text_area :circumstances

  %p
    If you have any comments which you only want to share with administrators and members of the project board use this
    field. This special comment field can not be seen by any other members of the project. However, project board
    members, administrators and you will see the comment on listing pages such as the project or staff pages.
    %dl
      %dt= f.label :comment, 'comment'
      %dd= f.text_area :comment

  - unless @dataset.has_research_data? || controller.action_name=="edit"
    %p
      More details about this dataset can be entered later by editing it.

  %dl
    %dt
    %dd= submit_tag 'Save Metadata'

:javascript
  $(document).ready(function(){
    $("#tag_list").select2({
      tags: $("#tag_list").data("tags"),
      tokenSeparators: [",", ";", "，"],
      width: "100%",
      minimumInputLength: 1,
      formatInputTooShort: function(){return ""}
    });
    $("#access-explanations .term").filter("#access-"+ $("#access-code").val()).show();
    $("#access-code-slider").slider({
      animate: 300,
      min: 0,
      max: 3,
      value: $("#access-code").val(),
      slide: function(e, ui) {
        $("#access-code").val(ui.value);
        $("#access-explanations .term").hide().filter("#access-"+ui.value).show();
        if (parseInt(ui.value) == 3) {
          $("#license-controller").show();
        } else {
          $("#license-controller").hide();
        }
      }
    });

    $('#show-license').click(function(e) {
      $('#sample-license').modal(
        {
          overlayClose:true,
          persist:true,
          minHeight: 300
        }
      );
      e.preventDefault();
    });
  });
