-# This partial displays links of download urls for api key downloads

- modal_id = "#{css}_show_download_link_modal"
- link_id = "show_#{modal_id}"

- url_csv_categories = "#{url_for(:controller => :datasets, 
  :action => 'download', 
  :format => :csv, 
  :id => @dataset.id, 
  :seperate_category_columns => true, 
  :user_credentials => current_user.single_access_token,
  :only_path => false)}"

- url_csv_plain = "#{url_for(:controller => :datasets, 
  :action => 'download', 
  :format => :csv, 
  :id => @dataset.id, 
  :user_credentials => current_user.single_access_token,
  :only_path => false)}"

- url_eml = "#{url_for(:controller => :datasets,
  :action => 'show', 
  :format => :eml, 
  :id => @dataset.id,
  :only_path => false)}"

%a{:href => '#', :class => 'download_modal_link', :id => link_id}
  = caption

%div{:class => 'show_download_link_modal hidden', :id => modal_id}
  %h3
    = caption
  .menu
    %a{:href => '#', :class => 'show_csv_url_with_categories'}
      Separate categories 
    %a{:href => '#', :class => 'show_csv_url_without_categories'}
      No separate categories 
    %a{:href => '#', :class => 'show_eml_url'}
      EML 
  %textarea.download_urls{:readonly => 'readonly', :onclick => 'this.focus();this.select()'}
    = url_csv_categories
  %p.close_hint
    Click somewhere outside or press ESC to close

:javascript
  $("##{link_id}").click(function(e) {
    $("##{modal_id}").modal(
      {
        overlayClose:true,
        persist:true
      }
    );
    $("##{modal_id} .show_csv_url_with_categories").click(function(e) {
      $("##{modal_id} .download_urls").val("#{url_csv_categories}");
      e.preventDefault();
    });
    $("##{modal_id} .show_csv_url_without_categories").click(function(e) {
      $("##{modal_id} .download_urls").val("#{url_csv_plain}");
      e.preventDefault();
    });
    $("##{modal_id} .show_eml_url").click(function(e) {
      $("##{modal_id} .download_urls").val("#{url_eml}");
      e.preventDefault();
    });
  });
