-# This partial displays links of download urls for api key downloads

- modal_id = "#{css}_show_download_link_modal"
- link_id = "show_#{modal_id}"

- url_csv_categories = download_dataset_url(@dataset, :csv, :separate_category_columns => true,
                                            :user_credentials => current_user.try(:single_access_token))
- url_csv_plain = download_dataset_url(@dataset, :csv, :user_credentials => current_user.try(:single_access_token))

- url_eml = dataset_url(@dataset, :eml)


%a{:href => '#', :class => 'download_modal_link', :id => link_id}
  = caption

%div{:class => 'simple-modal show_download_link_modal', :id => modal_id}
  .modal-head
    %h3= caption
  .menu
    %a{:href => '#', :class => 'show_csv_url_without_categories'}
      CSV
    \|
    %a{:href => '#', :class => 'show_csv_url_with_categories'}
      CSV 2 (categories)
    \|
    %a{:href => '#', :class => 'show_eml_url'}
      EML
  - if current_user
    %p.security-alert The link contains your user credentials, Please DO NOT share with others.
  = text_area_tag 'download-url', url_csv_categories, readonly: true, onclick: 'this.select();', autocomplete: 'off', class: 'download_urls'

:javascript
  function alert_if_with_user_credential() {
    if($("##{modal_id} .download_urls").val().indexOf("user_credential") != -1 ) {
      $(".security-alert").fadeIn('fast');
    }
    else {
      $(".security-alert").fadeOut('fast');
    }
  }
  $("##{link_id}").click(function(e) {
    $("##{modal_id}").modal(
      {
        overlayClose:true,
        persist:true
      }
    );
    $("##{modal_id} .show_csv_url_with_categories").click(function(e) {
      $("##{modal_id} .download_urls").val("#{url_csv_categories}");
      alert_if_with_user_credential()
      e.preventDefault();
    });
    $("##{modal_id} .show_csv_url_without_categories").click(function(e) {
      $("##{modal_id} .download_urls").val("#{url_csv_plain}");
      alert_if_with_user_credential()
      e.preventDefault();
    });
    $("##{modal_id} .show_eml_url").click(function(e) {
      $("##{modal_id} .download_urls").val("#{url_eml}");
      alert_if_with_user_credential()
      e.preventDefault();
    });
    e.preventDefault();
  });
