-# This partial displays links of download urls for api key downloads

- modal_id = "#{css}_show_download_link_modal"
- link_id = "show_#{modal_id}"

- url_csv_categories = download_dataset_url(@dataset, :csv, :separate_category_columns => true, 
                                            :user_credentials => current_user.try(:single_access_token))
- url_csv_plain = download_dataset_url(@dataset, :csv, :user_credentials => current_user.try(:single_access_token))

- url_eml_categories = download_dataset_url(@dataset, :eml, :separate_category_columns => true)

- url_eml = download_dataset_url(@dataset, :eml)


%a{:href => '#', :class => 'download_modal_link', :id => link_id}
  = caption

%div{:class => 'show_download_link_modal hidden', :id => modal_id}
  %h3
    = caption
  .menu
    %a{:href => '#', :class => 'show_csv_url_with_categories'}
      CSV with categories 
    %a{:href => '#', :class => 'show_eml_url_with_categories'}
      EML with categories 
    %a{:href => '#', :class => 'show_csv_url_without_categories'}
      CSV standard 
    %a{:href => '#', :class => 'show_eml_url'}
      EML standard
  %textarea.download_urls{:readonly => 'readonly', :onclick => 'this.focus();this.select()'}
    = url_csv_categories
  %p.close_hint
    Click somewhere outside or press ESC to close

:javascript
  $("##{link_id}").click(function(e) {
    $("##{modal_id}").modal(
      {
        overlayClose:true,
        persist:true
      }
    );
    $("##{modal_id} .show_csv_url_with_categories").click(function(e) {
      $("##{modal_id} .download_urls").val("#{url_csv_categories}");
      e.preventDefault();
    });
    $("##{modal_id} .show_eml_url_with_categories").click(function(e) {
      $("##{modal_id} .download_urls").val("#{url_eml_categories}");
      e.preventDefault();
    });
    $("##{modal_id} .show_csv_url_without_categories").click(function(e) {
      $("##{modal_id} .download_urls").val("#{url_csv_plain}");
      e.preventDefault();
    });
    $("##{modal_id} .show_eml_url").click(function(e) {
      $("##{modal_id} .download_urls").val("#{url_eml}");
      e.preventDefault();
    });
    e.preventDefault();
  });
