%div#license-body
  %p
    Permission is granted to anybody to access, use and publish all open for public data freely.
    The commercial use of any data is prohibited. The quality and completeness of data cannot be guaranteed.
    Users employ these data at their own risk. In order to make attribution of use for owners of the data possible,
    the identifier of ownership of data must be retained with every data record. Users must publicly acknowledge,
    in conjunction with the use of the data, the data owners.
  %h4 Cite the data as follows: 
  %p{style: 'font-style: italic'}
    %span.authors= f.owners.map(&:short_name).to_sentence
    %span.year= "(#{f.updated_at.year}):"
    %span.title= "#{f.title}."
    = "(Accessed through URL: #{dataset_url(f)})"