- unless @contacts.blank?
  %p
    For more information, please contact
    - @contacts.each do |c|
      #{link_to c, user_path(c.path_name)}
    The following projects were involved:
    - @projects.each do |p|
      #{link_to p, project_path(p.id)}

= render :partial => 'edit_download_destroy_links'
- unless @dataset.usagerights.blank?
  %p= @dataset.usagerights
- unless @dataset.abstract.blank?
  %p= @dataset.abstract
- unless @dataset.design.blank?
  %p= @dataset.design
- unless @dataset.spatialextent.blank?
  %p= @dataset.spatialextent
- unless @dataset.published.blank?
  %p= @dataset.published
- unless @dataset.temporalextent.blank?
  %p= @dataset.temporalextent
- unless @dataset.taxonomicextent.blank?
  %p= @dataset.taxonomicextent
- unless @dataset.circumstances.blank?
  %p= @dataset.circumstances
- unless @dataset.comment.blank?
  %p= @dataset.comment

- unless @freeformats.blank?
  %p
    There are #{@freeformats.length} free format files available for this data set.
  %ul
    - @freeformats.each do |ff|
      %li.noBullet
        = link_to ff.file_file_name, ff.file.url
        %a.showr{:id => "freeformat_#{ff.id}"} change file
        .hidden{:id => "form_freeformat_#{ff.id}"}
          = render :partial => 'freeformats/edit', :locals => {:freeformat => ff}


- unless @measmeths.blank?
  The following data columns are available in the raw data part of this data set:
  %ul
    - @header.each do |key|
      %li
        %b= @measmeths[key].columnheader
        (#{@measmeths[key].definition}.
        Data group: "#{@methodtitles[key].humanize}").
        #{@measmeths[key].first_five}.
        (#{@measmeths[key].users.map{|person| link_to person, user_path(person.path_name)}.to_sentence})

        = render :partial => "show_files_submethod", :locals => {:key => key}
