.span-3.last
  = render :partial => 'edit_download_destroy_links'

- unless @contacts.blank?
  .span-3.last{:style => 'float:right;'}
    For more information, please contact
    - @contacts.each do |c|
      = render c
    The following projects were involved:
    - @projects.each do |p|
      %br
      #{link_to p, project_path(p.id)}

- unless @dataset.usagerights.blank?
  .span-8.append-1
    %h4 Usage Rights
    %p= @dataset.usagerights
- unless @dataset.abstract.blank?
  .span-8.append-1
    %h4 Dataset Abstract
    %p= @dataset.abstract
- unless @dataset.design.blank?
  .span-8.append-1
    %h4 Dataset Design
    %p= @dataset.design
- unless @dataset.spatialextent.blank?
  .span-8.append-1
    %h4 Spatial Extent
    %p= @dataset.spatialextent
- unless @dataset.published.blank?
  .span-8.append-1
    %h4 Published
    %p= @dataset.published
- unless @dataset.temporalextent.blank?
  .span-8.append-1
    %h4 Temporal Extent
    %p= @dataset.temporalextent
- unless @dataset.taxonomicextent.blank?
  .span-8.append-1
    %h4 Taxonomic Extent
    %p= @dataset.taxonomicextent
- unless @dataset.circumstances.blank?
  .span-8.append-1
    %h4 Measurement Circumstances
    %p= @dataset.circumstances
- unless @dataset.comment.blank?
  .span-8.append-1
    %h4 Comment
    %p= @dataset.comment

- unless @freeformats.blank?
  %p
    There are #{@freeformats.length} free format files available for this data set.
  %ul
    - @freeformats.each do |ff|
      %li.noBullet
        = link_to ff.file_file_name, ff.file.url
        %i #{ff.description}
        - show_to(:owner, :of =>ff.dataset) do
          %a.showr{:id => "freeformat_#{ff.id}"} change file
          .hidden{:id => "form_freeformat_#{ff.id}"}
            = render :partial => 'freeformats/edit', :locals => {:freeformat => ff}

- if @datacolumns
  .span-12.last
    %p The following data columns are available in the raw data part of this data set:
    - @datacolumns.each do |column|
      .span-4.dataset_columns{:class => cycle('border', 'border', 'last', :name => 'display_in_columns')}
        .columnheader= column.columnheader
        = column.definition
        %br
        %i Data group: #{column.datagroup.title}
        %br
        - if column.values_stored?
          %table.import_values
            %tr
              %th.span-4.last= "Values"
            - column.accepted_values(5).each do |sc|
              %tr
                %td.span-4.last{:class => cycle('even', 'odd')} #{sc.accepted_value}
        -else
          %img{:src => '/images/error.png'}
          = "No values yet imported for this data column"

        - u = column.users
        - unless u.blank?
          %i Responsible for this Data Column:
          = u.map{|person| link_to person, user_path(person.path_name)}.to_sentence.html_safe