%table#columns-table.tablesorter
  %thead
    %tr
      %th= "#"
      %th= ' '
      %th Header
      %th Datagroup
      %th Datatype
      - if !@predefined_columns.blank? || flash[:non_auto_approved]
        %th Auto-approvable
  %tbody
    -@dataset.datacolumns.includes(:datagroup).each do |c|
      %tr
        %td= c.columnnr
        %td{:class => "approval-status approval-stage-#{c.approval_stage}"}
          = c.approval_stage.to_s
        %td= link_to c.columnheader, approval_overview_datacolumn_url(c)
        %td{:class => !c.datagroup_approved? ? 'unapproved' : ''}
          = c.datagroup.title
        %td{:class => !c.datatype_approved? ? 'unapproved' : ''}
          = c.import_data_type
        - if !@predefined_columns.blank? || flash[:non_auto_approved]
          %td
            = "\u2713" if @predefined_columns.include?(c.id)
            = 'only manually' if flash[:non_auto_approved] && flash[:non_auto_approved].include?(c.id)

- unless @predefined_columns.blank?
  %p
    There are sufficient information to automatically and at once approve the columns marked with #{"\u2713"}.
    - if @dataset.number_of_observations > 10000
      %b But
      This dataset has too many rows than we can handle. The
      %tt Auto Approve
      process can be too slow to be tolerable. We suggest you approving the data columns one by one.
  = form_tag :action => 'approve_predefined', :controller => 'datasets' , :id => @dataset.id do
    = submit_tag 'Auto-approve', :confirm => "Are you sure you want to automatically approve #{@predefined_columns.count} columns?"
