- form_for @dataset, :url => { :controller => :datasets, :action => "update_dataset_with_only_freeformat_file", :id => @dataset.id }  do |ds|

  %h2
    Dataset free-format file upload
  %h3
    = "(#{@filename})"
  %br
  %p
    Update the datasets meta information

  %div
    = ds.label :title
    = ds.text_field :title

    %br
    = ds.label :filename
    = ds.text_field :filename

    %br
    = ds.label :abstract
    = ds.text_area :abstract, :cols => 80, :rows => 15

    %br
    = ds.label :comment
    = ds.text_area :comment, :cols => 80, :rows => 15
    %br
    = ds.hidden_field :id
    = ds.submit :"Next step"
