%h2 Approve #{link_to @dataset.title, @dataset}
- if @dataset.datacolumns.length > 0
  - unless @predefined_columns.blank?
    %p
      We have sufficient information to automatically approve the following #{pluralize(@predefined_columns.length, 'column')}:
      = @predefined_columns.map{|c| c.columnheader}.join(', ')
      = form_tag :action => 'approve_predefined', :controller => 'datasets' , :id => @dataset.id do
        %button{:name => "commit", :type => "submit", :onclick => "return confirm('Are you sure you want to approve the columns?"} Approve all
    %p.clear
  %p
    Click on the column name below to approve the column attributes.
    = render 'data_column_tabs'
- else
  %p
    Sorry, we cannot proceed.  The data column headers must be unique otherwise we cannot match the data between the sheets in the workbook.  Please delete this context,
    make sure your data column headers in the raw data sheet are
    unique, and reload.  You can download the current state of your
    workbook here:
    %b= link_to @dataset.title, {:controller => :datasets, :action => 'show', :id => @dataset.id}
    