%span{:style => "font-size: large;"}
  Dataset: #{@dataset.title}
- unless @dataset.blank?
  %p
    For more information, please contact #{link_to @contacts.first, user_path(@contacts.first)} of project
    = link_to(@projects.first, project_path(@projects.first)) unless @projects.empty?
  %h4 Comment
  %p= @dataset.comment
  .comment
    %span{:style => "font-size: medium;"} Edit meta data of this dataset
    = render :active_scaffold => "settings/datasets", :constraints => {:id => @dataset.id}
  .comment
    %span{:style => "font-size: medium;"}
      Edit method descriptions of this
      context
    %p
      At the time of writing, it is only possible to add, but not to
      delete methods or personroles to a given columnheader (=
      measurements_methodstep)
    = render :active_scaffold => "settings/datacolumns", :constraints => {:dataset_id => @dataset.id}
  .comment
    %span{:style => "font-size: medium;"}
      If you want upload a new datafile, please confirm this message.
      = form_for :datafile,
                  :url => delete_imported_research_data_and_file_dataset_path(@dataset),
                  :html => {:multipart => true} do |f|
        = f.error_messages
        = f.file_field :file
        = f.submit 'Data set upload', :confirm => "All research data will be replaced by the content of this file!"
