%h2 Edit files of #{link_to @dataset.title, @dataset}

- unless @datafiles.empty?
  %h3 Uploaded Workbooks
  %table
    %thead
      %th In Use
      %th File name
      %th File size
      %th Uploaded
      %th Action
    %tbody
      - @datafiles.each_with_index do |datafile, index|
        %tr
          %td= "\u2713" if index == 0
          %td= link_to datafile.file_file_name, download_dataset_datafile_path(@dataset, datafile)
          %td= number_to_human_size(datafile.file_file_size)
          %td= datafile.file_updated_at
          %td
            = link_to_if(index > 0, "delete", dataset_datafile_path(@dataset, datafile), :method => :delete, :confirm => "Are you sure to delete this workbook ?") do
              protected

%h3 Upload Datafile

%p
  %b Note:
  Only Excel-2003 and CSV files are supported.

= form_for :datafile,
          :url => update_workbook_dataset_path(@dataset),
          :html => {:multipart => true} do |f|
  = f.error_messages
  = f.file_field :file
  = f.submit 'Data set upload', :confirm => "All research data will be replaced by the content of this file!"

- unless @freeformats.empty?
  %h3 Change freeformat files
  %p
    = render :partial => 'freeformats/edit_list'

%h3 Add freeformat file
%p
  = render :partial => 'freeformats/new', :locals => {:freeformattable => @dataset}