-#- unless @unfound_usernames.blank?
-#  %p
-#    The following names could not be matched within the portal:
-#    = @unfound_usernames.join(', ')
:css
  #balbal td {border-bottom: none;vertical-align: top;padding-top:15px;}
  .access-option {margin-left: 25px; margin-bottom: 20px;}
  .access-option .exp {font-style: italic;line-height:1.3em;}
  .access-option .license-controll {margin-top: 5px;}
  .access-option input[type=radio] {float:left;margin-left: -25px;margin-top:5px;}
  #balbal textarea {width: 100%;}
  #balbal td.label {width: 150px; text-align: right;padding-right:20px;}

= form_for @dataset do |f|
  %table#balbal
    %tr
      %td.label Authors
      %td.controll
        = select "person", "person_id", all_users_names_and_ids_for_select, {}, {:multiple => true}
        -#- if @unfound_usernames.present?
        -#  %ul.unfound_authors
        -#    @unfound_usernames.each do |uu|
        -#      %li.unfound_author= uu
    %tr
      %td.label Belongs to projects
      %td= select "project", "project_id", all_projects_for_select, {}, {:multiple => true}
    %tr
      %td.label Acess Rights
      %td.controll
        %div.access-option
          = f.radio_button :access_code, Dataset::ACCESS_CODES[:private], {id: 'private'}
          = label_tag 'private', 'Private'
          .exp
            No one can download this data and its attachments, Unless his/her paper proposal has been accepted.
        %div.access-option
          = f.radio_button :access_code, Dataset::ACCESS_CODES[:free_within_project], {id: 'free-within-projects'}
          = label_tag 'free-within-projects', 'Free within projects'
          .exp
            Members of projects you selected above can download this data and its attachments
        %div.access-option
          = f.radio_button :access_code, Dataset::ACCESS_CODES[:free_for_members], {id: 'free-for_members'}
          = label_tag 'free-for_members', 'Free for Members'
          .exp
            All members of the portal can download this data and its attachments
        %div.access-option
          = f.radio_button :access_code, Dataset::ACCESS_CODES[:free_for_public], {id: 'free-for_public'}
          = label_tag 'free-for_public', 'Free for Public'
          .exp
            All people can download this data and its attachments
          .license-controll
            = f.check_box :include_license, disabled: !@dataset.free_for_public?, style: 'margin: 0px;'
            = f.label :include_license do
              Include a copy of
              = link_to 'Open Data Acess License', '#', id: 'show-license', title: 'Click to read the sample license'

          %div#sample-license.hidden
            %h3 Open Data Access User License
            = render :partial => 'sample_license', :locals =>  {:f => @dataset}
            = link_to 'Close', '#', class: 'button simplemodal-close', style: 'margin-left: 1px;'
    %tr
      %td.label Addtional notes on usage rights
      %td.controll= f.text_area :usagerights, :rows => 10


    %tr
      %td.label
      %td.controll= f.submit 'Save'

:javascript
  $(function(){
    $('select').select2({ width: '100%' });
    if ( $.browser.mozilla)  $("form").attr('autocomplete', 'off');

    var public_radio_button = $("input:radio[name='dataset[access_code]']").filter("#free-for_public");
    var license_controll = $("#dataset_include_license:checkbox");
    $("input:radio[name='dataset[access_code]']").change(function(){
      if (public_radio_button.is(":checked")) {
        license_controll.attr('disabled', false);
      } else {
        license_controll.attr('disabled', true);
      }
    })

    $('#show-license').click(function(e) {
      $('#sample-license').modal(
        {
          overlayClose:true,
          persist:true,
          minHeight: 300
        }
      );
      e.preventDefault();
    });
  })