<?xml version="1.0" encoding="utf-8"?>

<eml:eml
packageId="eml.1.1"
xmlns:eml="eml://ecoinformatics.org/eml-2.1.0"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="eml://ecoinformatics.org/eml-2.1.0 http://rs.gbif.org/schema/eml-gbif-profile/1.0.1/eml-gbif-profile.xsd">

<dataset id="<%= @dataset.id %>">

<alternateIdentifier><%= dataset_url(@dataset) %></alternateIdentifier>
<!-- Should be Permanent identifier of the dataset. Initial title ... but where do we store this? -->

<title><%= @dataset.title %></title>

<% @dataset.owners.each do |creator| %>
    <creator id="<%= creator.login %>">
      <individualName>
        <givenName><%= creator.firstname %></givenName>
        <surName><%= creator.lastname %></surName>
      </individualName>
      <organizationName><%= creator.institution_name %></organizationName>
      <!--<positionName>unknown in the portal</positionName>-->
      <address>
        <deliveryPoint><%= creator.street %></deliveryPoint>
        <city><%= creator.city %></city>
        <!--<administrativeArea>unknown in the portal</administrativeArea>-->
        <!--<postalCode>unknown in the portal</postalCode>-->
        <country><%= creator.country %></country>
      </address>
      <phone><%= creator.institution_phone %></phone>
      <electronicMailAddress><%= creator.email %></electronicMailAddress>
      <!--<onlineUrl>unknown in the portal</onlineUrl>-->
    </creator>
<% end %>

<pubDate><%= @dataset.created_at.to_date.to_formatted_s(:db) %></pubDate>

<language>en_US</language>

<abstract>
  <para><%= @dataset.abstract %></para>
  <para><%= @dataset.circumstances %></para>
</abstract>

<keywordSet>
  <%- @dataset.tags.each do |tag| %>
      <keyword><%= tag.name %></keyword>
  <% end %>
  <keywordThesaurus> Portal Tags </keywordThesaurus>
</keywordSet>
<keywordSet>
  <%- @dataset.datacolumns.each do |datacolumn| %>
      <keyword><%= datacolumn.columnheader %></keyword>
  <% end %>
  <keywordThesaurus> Dataset Data Columns </keywordThesaurus>
</keywordSet>

<!-- Creative commons licence to the owners of the data set (this is as soon as the dataset is set free for
public). As long as the dataset is not free for public, users may not give the data to any other person. -->
<intellectualRights>
  <para><%= @dataset.usagerights %></para>
</intellectualRights>

<distribution scope="document">
  <online>
    <url function="information">
      <%= dataset_url @dataset %>
    </url>
  </online>
</distribution>

<coverage>
  <geographicCoverage>
    <geographicDescription><%= @dataset.spatialextent %></geographicDescription>
  </geographicCoverage>
  <temporalCoverage>
    <singleDateTime>
      <calendarDate><%= @dataset.temporalextent %></calendarDate>
    </singleDateTime>
  </temporalCoverage>
  <taxonomicCoverage>
    <generalTaxonomicCoverage><%= @dataset.taxonomicextent %></generalTaxonomicCoverage>
  </taxonomicCoverage>
</coverage>


<!-- This is mandatory in EML
In terms of the IPT, propose this be the same as the and should be the same as the <creator/>
Therefore, it can be ignored in Parsing, but needs to be created in the output rendering
-->
<contact>
  <% @dataset.owners.each do |contact| %>
      <references><%= contact.login %></references>
  <% end %>
</contact>


<dataTable>
<entityName><%= dataset_url(@dataset)+'.txt' %></entityName>
<entityDescription><%= @dataset.title %></entityDescription>
<caseSensitive> yes </caseSensitive>
<numberOfRecords><%= @dataset.number_of_observations %></numberOfRecords>

<physical>
  <objectName><%= dataset_path(@dataset)+'.txt' %></objectName>
  <!--TODO<size unit="bytes">1245</size>-->
  <characterEncoding>ASCII</characterEncoding>
  <dataFormat>
    <textFormat>
      <numHeaderLines>1</numHeaderLines>
      <attributeOrientation>column</attributeOrientation>
      <simpleDelimited>
        <fieldDelimiter>\t</fieldDelimiter>
      </simpleDelimited>
    </textFormat>
  </dataFormat>
  <distribution>
    <online>
      <url><%= dataset_url(@dataset)+'.txt' %></url>
    </online>
  </distribution>
</physical>

<attributeList>
<% @dataset.datacolumns.each do |column| %>
 <attribute id="<%= column.columnheader %>">
   <attributeName><%= "#{column.datagroup.title} (#{column.columnheader})" %></attributeName>
   <attributeLabel><%= column.columnheader %></attributeLabel>
   <attributeDefinition><%= "#{column.datagroup.description} (#{column.columnheader}: #{column.definition})" %></attributeDefinition>
   <accuracy><%= "#{column.datagroup.timelatency} #{column.datagroup.timelatencyunit}" %></accuracy>
   <measurementScale>
       <% case column.datagroup.methodvaluetype %>
       <% when 'number'%>
            <ratio>
              <unit>
                <standardUnit>dimensionless</standardUnit>
              </unit>
              <numericDomain>
                <numberType>real</numberType>
              </numericDomain>
            </ratio>
       <% when 'datetime' %>
            <dateTime>
              <formatString>YYYY</formatString>
            </dateTime>
       <% else %>
            <nominal>
              <nonNumericDomain>
                <textDomain>
                  <definition><%= column.datagroup.description %></definition>
                </textDomain>
              </nonNumericDomain>
            </nominal>
       <% end %>
   </measurementScale>

 </attribute>
<% end %>
</attributeList>

</dataTable>


</dataset>

</eml:eml>
