- form_for @dataset, :url => { :action => "save_dataset_freeformat_associations", :id => @dataset.id }  do |ds|
  %h2
    Dataset associated free-format file upload
  %h3
    Select the owner and project for the file
  %p
    = "#{@dataset.title} (#{@dataset.filename})"

  %div
    Owner
    = select("owner", "owner_id", User.all_users_names_and_ids_for_select,
                                  { :index => nil },
                                  {:default => ''})
    %br
    Project
    = select("project", "project_id", @project_list.collect {|project| [project.shortname, project.id] },
                                      { :index => nil },
                                      {:default => ''})

    %br
    = ds.hidden_field :id
    = ds.submit :"Next step"
