-# this partial renders a modal, which will allow you to submit dataset_edits
-# please gimme a variable called dataset_edit so we know what this is about

%span.save
  %a{:href => '#', :id => 'dataset_edit_submit_link'} submit+notify

.hidden{:class => 'simple-modal', :id => 'dataset_edit_submit_modal'}
  .form-whole
    = form_for dataset_edit, :url => submit_dataset_dataset_edit_path(@dataset,dataset_edit), :method => :post do |f|
      .form-annotate.modal-head
        %h3 Notify Users of the Changes
      %h4 Annotate changes
      = f.text_area :description

      %h4 Notify connected users
      %div
        = label_tag 'notify[downloaders]' do
          = check_box_tag('notify[downloaders]', true)
          = "Downloaders (#{@dataset.downloaders.count})"
        = label_tag 'notify[proposers]' do
          = check_box_tag('notify[proposers]', true)
          = "Paperproposal authors (#{@dataset.proposers.count})"
      .modal-footer
        = f.submit 'Submit and notify'

:javascript
  $('#dataset_edit_submit_link').click(function(e) {
    $('#dataset_edit_submit_modal').modal(
      {
        overlayClose:true,
        persist:true
      }
    );
    e.preventDefault();
  });
