= form_for @datagroup do |f|
  = f.error_messages
  %dl
    %dt= f.label :title
    %dd= f.text_field :title
  %dl
    %dt= f.label :description
    %dd= f.text_area :description
  %dl
    %dt= f.label :comment
    %dd= f.text_area :comment
  = f.submit "Update datagroup"