= form_for @datagroup do |f|
  = f.error_messages
  %dl
    %dt= f.label :title
    %dd= f.text_field :title
    %dt= f.label :methodvaluetype, "Method value type"
    %dd= f.text_field :methodvaluetype
    %dt= f.label :description
    %dd= f.text_area :description
    %dt= f.label :instrumentation
    %dd= f.text_area :instrumentation
    %dt= f.label :informationsource, "Source of infomation"
    %dd= f.text_area :informationsource
  = f.submit "Update datagroup"