- page_title "Datacolumns belonging to datagroup: #{@datagroup.title}"

- show_edit_link = current_user.admin || current_user.data_admin

= content_for :actions do
  = link_to datagroup_path(@datagroup) do
    = image_tag "back.png"
    Back to Datagroup page

%h2 Datacolumns belonging to #{link_to @datagroup.title, @datagroup}
- if @datacolumns.empty?
  %i No associated datacolumns for this datagroup.
- else
  - @datacolumns.includes(:dataset).group_by{|dc| dc.dataset}.each do  |dt, dcs|
    .group-heading
      = link_to dt.title, dt
    %ol.column-group
      - dcs.each do |datacolumn|
        %li.column-item
          - if show_edit_link
            #loader.hidden Sending request...
          .info
            - if show_edit_link
              = link_to 'Edit', "#", :class => "form_loader right"
            .columnheader= datacolumn.columnheader
            .definition= datacolumn.definition
          - if show_edit_link
            .js-form-content.hidden
              = form_for datacolumn, html: {:remote => true, 'data-type' => :json} do |f|
                = f.text_field :columnheader
                = f.text_area :definition, style: 'height:100px;'
                = f.submit
                = link_to "Cancel", "#", :class => "button right cancel"
  .clear= will_paginate @datacolumns

  - if show_edit_link
    :javascript
      $(function(){
        $(".column-item .form_loader").click(function(){
          var info = $(this).parent(".info");
          var form = info.next(".js-form-content");
          $("input#datacolumn_columnheader", form).val($(".columnheader",info).text());
          $("textarea#datacolumn_definition", form).val($(".definition",info).text());
          info.toggle().next(".js-form-content").toggle();
          $('textarea', form).height($('textarea', form)[0].scrollHeight+'px');
          return(false);
        });
        $('.column-item .cancel').click(function(){
          $(this).closest('.js-form-content').toggle().prev(".info").toggle();
          return(false);
        })
        $(".column-item form").submit(function(){
          $(this).closest(".column-item").find("#loader").show();
        });
        $(".column-item form").on('ajax:success', function(evernt, data){
          var info = $(this).closest(".column-item").find(".info");
          if(data.error){
            info.prev("#loader").toggle();
            alert(data.error);
          }
          else{
            $(".columnheader",info).text(data.columnheader);
            $(".definition",info).text(data.definition);
            $(this).parent().toggle().prevAll(".info, #loader").toggle();
          }
        });
      })
