%h2
  Datagroups

.datagroup-filter
  .group
    Sort:
    = select_tag "sort", dropdown_list_to_sort_datagroups, class: 'js-select-menu'
  .group
    = label_tag "hide_detail", "Compact View"
    = check_box_tag "hide_detail", "yes", checked=true

  .right#search_form
    = form_tag datagroups_path, {:method => :get} do
      - unless params[:search].blank?
        = link_to "Clear search", datagroups_path(params.merge(search: nil, utf8: nil)), :id => "clear_search"
      = search_field_tag :search, params[:search]
      = submit_tag "Filter", :name => nil

- authorized_to_edit_and_delete = current_user.admin || current_user.data_admin

%table#datagroups-table
  %colgroup
    %col.indicator
    %col.title
    - if authorized_to_edit_and_delete
      %col.action
  %thead
    %tr
      %th
      %th Title
      - if authorized_to_edit_and_delete
        %th Action
  %tbody
    - @datagroups.each do |dg|
      %tr.datagroup
        %td
          .indicator-icon
        %td.info
          .title-description
            = link_to dg do
              = highlight dg.title, params[:search]
            .description
              = highlight dg.description, params[:search]
          .comment
            = pluralize(dg.datacolumns_count, 'datacolumn')
            in this datagroup
            .right
              Added at #{dg.created_at}
        - if authorized_to_edit_and_delete
          %td
            = link_to "Edit", edit_datagroup_path(dg)
            - if dg.datacolumns_count.to_i == 0
              = link_to 'Delete', datagroup_path(dg), :method => :delete, :confirm => "Are you sure to delete datagroup: #{dg.title} ?"

= will_paginate @datagroups

:javascript
  $(function(){
    $("#hide_detail").click(function(){
      if($(this).is(":checked")){
        $("tr.datagroup").removeClass("expanded");
      }
      else {
        $("tr.datagroup").addClass("expanded");
      }
    });
    $(".indicator-icon").click(function(){
      $(this).closest("tr.datagroup").toggleClass("expanded");
    });
    $(".js-select-menu").change(function(){
      var value = $(this).val();
      window.location.href = value;
    });
  })
