- content_for :actions do
  = link_to categories_path do
    = image_tag "list-ordered.png"
    List Categories

%h2
  Datagroups
%table.import_values
  %thead
    %tr
      %th Title
      %th Type
      %th Description
  - @datagroups.each do |dg|
    %tbody
      %tr
        %td= link_to dg.title, dg
        %td= dg.methodvaluetype
        %td= dg.description
