- content_for :actions do
  - if current_user.admin
    = link_to edit_datagroup_path(@datagroup) do
      = image_tag "edit.png"
      Edit
    - if @datasets.empty?
      = link_to datagroup_path(@datagroup), :method => :delete, :confirm => "Are you sure to delete this datagroup ?" do
        = image_tag "trash.png"
        Delete
    - else
      = link_to datacolumns_datagroup_path(@datagroup) do
        = image_tag "list-ordered.png"
        List Datacolumns
  - unless @datagroup.categories.empty?
    = link_to datagroup_categories_path(@datagroup, :format => :csv) do
      = image_tag("download.png")
      Download Categories as CSV
    - show_to :admin, :data_admin do
      = link_to upload_categories_datagroup_path do
        = image_tag("arrow_join_accept.png")
        Manage Categories via CSV
  = link_to new_datagroup_category_path(@datagroup) do
    = image_tag 'file-upload.png'
    Add categories
  = link_to datagroups_path do
    = image_tag "back.png"
    Back to Data Groups list

%h2= "Datagroup: #{@datagroup.title}"

- unless @datagroup.description.blank?
  %h4 Description
  = simple_format @datagroup.description

- unless @datagroup.comment.blank?
  %h4 Comment
  = simple_format @datagroup.comment

- unless @datasets.empty?
  %h3 Datasets
  %ul
    - @datasets.each do |ds|
      %li
        = render :partial => ds, :locals => {:with_cart => true, :with_comment => false}

- if @datagroup.categories.empty?
  %h3 Datagroup has no categories
- else
  %h3
    Categories
    = image_tag 'spinner.gif', :id => 'img-loader'
  %noscript Please enable javascript to view the categories.
  #categories
    #loader.hidden Loading ...
    #categories_table

  :javascript
    $(function(){
      $.getScript("#{datagroup_categories_path(@datagroup)}")
        .done(function(){
          $("#img-loader").remove();
        })
        .fail(function(jqxhr, settings, exception) {
        $("#categories_table").text("Error occurs. Please try refreshing the page");
      });
      function show_indicator() {
        $("#categories_table tbody").fadeTo("fast",0.3);
        $("#loader").show();
      };
      $("#categories").on("click", "#categories_table th a, .pagination a, #clear_search",  function(){
        $.getScript(this.href);
        show_indicator();
        return(false);
      });
      $("#categories").on("submit", "form#filter", function(){
        var term = $(this).find(":input[type='search']").val();
        if(term == "") return false;
        show_indicator();
      });
    });