- content_for :actions do
  - unless @datagroup.categories.empty?
    = link_to datagroup_path(:id => @datagroup, :format => :csv) do
      = image_tag("save.png")
      Download Categories as CSV
    - if current_user.has_role?(:admin)
      = link_to upload_categories_datagroup_path do
        = image_tag("file-upload.png")
        Upload Categories as CSV
  = link_to datagroups_path do
    = image_tag "list-ordered.png"
    List Datagroups

%h2= "Datagroup: #{@datagroup.title}"

- unless @datagroup.methodvaluetype.blank?
  %h4 Type
  %p= @datagroup.methodvaluetype

- unless @datagroup.description.blank?
  %h4 Description
  %p= @datagroup.description

- unless @datagroup.datacolumns.empty?
  %h3 Datasets
  %ul
    - @datagroup.datacolumns.collect{|dc| dc.dataset}.uniq.sort_by(&:title).each do |ds|
      %li
        = render :partial => ds, :locals => {:with_cart => true, :with_comment => false}

- if @datagroup.categories.empty?
  %h3 Datagroup has no categories yet
- else
  %h3 Categories

  %table.import_values
    %thead
      %tr
        %th Short
        %th Long
        %th Description
        - if @changes
          %th Changed
    #tbody
      - @datagroup.categories.sort_by(&:short).each do |cat|
        %tr
          %td= link_to cat.short, cat
          %td= cat.long
          %td= cat.description
          - if @changes
            %td
              = @changes.include?(cat.id) ? 'x' : ''