- content_for :actions do
  - if current_user.admin
    = link_to edit_datagroup_path(@datagroup) do
      = image_tag "edit.png"
      Edit
    - if @datagroup.datasets.empty?
      = link_to datagroup_path(@datagroup), :method => :delete, :confirm => "Are you sure to delete this datagroup ?" do
        = image_tag "trash.png"
        Delete
    - else
      = link_to datacolumns_datagroup_path(@datagroup) do
        = image_tag "list-ordered.png"
        List Datacolumns
  - unless @datagroup.categories.empty?
    = link_to datagroup_path(:id => @datagroup, :format => :csv) do
      = image_tag("save.png")
      Download Categories as CSV
    - if current_user.admin
      = link_to upload_categories_datagroup_path do
        = image_tag("file-upload.png")
        Upload Categories as CSV
  = link_to datagroups_path do
    = image_tag "list-ordered.png"
    List Datagroups

%h2= "Datagroup: #{@datagroup.title}"

- unless @datagroup.methodvaluetype.blank?
  %h4 Type
  %p= @datagroup.methodvaluetype

- unless @datagroup.description.blank?
  %h4 Description
  %p= @datagroup.description

- unless @datagroup.datacolumns.empty?
  %h3 Datasets
  %ul
    - @datagroup.datasets.order(:title).uniq.each do |ds|
      %li
        = render :partial => ds, :locals => {:with_cart => true, :with_comment => false}

- if @datagroup.categories.empty?
  %h3 Datagroup has no categories
- else
  %h3 Categories
  #categories
    #loader.hidden Sending request...
    #categories_table
      = render :partial => "categories/category_list"

  :javascript
    $(function(){
      function show_indicator() {
        $("#categories_table tbody").fadeTo("fast",0.3);
        $("#loader").show();
      };
      $("#categories").on("click", "#categories_table th a, .pagination a, #clear_search",  function(){
        $.getScript(this.href);
        show_indicator();
        return(false);
      });
      $("#categories").on("submit", "form#filter", function(){
        var term = $(this).find(":input[type='search']").val();
        if(term == "") return false;
        show_indicator();
      });
    });