- content_for :actions do
  = link_to datagroups_path do
    = image_tag "list-ordered.png"
    List Datagroups

%h2
  Updating datagroup categories:
  = link_to @datagroup.title, @datagroup

%h3 Upload CSV with altered categories

= form_for :csvfile, :url => {:controller => :datagroups, :action => :update_categories, :id => @datagroup.id},
:html => {:multipart => true} do |f|
  = f.error_messages
  = f.file_field :file
  %br
  = f.submit 'File upload'