%h2 Notifications

- @notifications.each do |n|
  - read_string = n.read ? 'read' : 'unread'
  .notification{:id => "notification-#{n.id}", :class => read_string}
    .heading
      %span.subject= link_to n.subject, n
      %span.delete= link_to 'del', n, method: :delete, data: { confirm: 'Are you sure?' }
      %span.time= n.created_at
      %span.read-status= link_to read_string, mark_as_read_notification_url(n, :read => !n.read)

      .message= n.message # TODO we gonna load this via ajax!