-# This partial sets a link to and opens a modal with a list of email addresses
-# These parameters must be given:
-#   css: to modify the css ids
-#   caption: text for the link
-#   contacts: a collection of users

- modal_id = "#{css}_email_modal"
- link_id = "show_#{modal_id}"

- string_simple = contacts.map(&:email).join(', ')
- string_with_names = contacts.map(&:email_with_name).join(', ')

%a{:href => '#', :class => 'email_modal_link', :id => link_id}
  = caption

%div{:class => 'simple-modal email_modal', :id => modal_id}
  .modal-head
    %h3= caption
  .menu
    = label_tag do
      = check_box_tag 'with-user-names', 'yes', false, style: 'margin:0px;', autocomplete: 'off'
      With User Names
  = text_area_tag nil, string_simple, readonly: true, class: 'email_addresses', autocomplete: 'off'

:javascript
  $(function(){
    $("##{link_id}").click(function(e) {
      $("##{modal_id}").modal({
          overlayClose:true,
          persist:true,
          onShow: function(dialog){
            $("#with-user-names", dialog.data).click(function(){
              if (this.checked) {
                $(".email_addresses", dialog.data).val("#{string_with_names}");
              } else {
                $(".email_addresses", dialog.data).val("#{string_simple}");
              }
            });
            $(".email_addresses", dialog.data).click(function(){this.select();})
          }
      });
      e.preventDefault();
    });
  });
