= form_for @user do |f|
  = f.error_messages
  = f.label :login, class: "required"
  = f.text_field :login
  = f.label :password
  = f.password_field :password
  = f.label :password_confirmation
  = f.password_field :password_confirmation
  = f.label :firstname, class: "required"
  = f.text_field :firstname
  = f.label :middlenames
  = f.text_field :middlenames
  = f.label :lastname, class: "required"
  = f.text_field :lastname
  = f.label :salutation
  = f.text_field :salutation
  = f.label :email, class: "required"
  = f.text_field :email
  .group
    = f.label :project_board
    = f.check_box :project_board
  .group
    = f.label :admin
    = f.check_box :admin
  .group
    = f.label :data_admin
    = f.check_box :data_admin
  .avatar
    = f.label :avatar,"Change Avatar"
    = image_tag @user.avatar.url(:small)
    = f.file_field :avatar
  = field_set_tag "Belongs to project" do
    #roles
      %noscript
        %p you need javascript enabled to manage user roles. Please enable javascript and refresh page.
      = render :partial => 'role', collection: project_roles
    = link_to "+ Add role", "#", id: "add_role"
  = f.submit class: "pull-left"

- role_form = j render :partial => "role", :locals => { role: {role_name: nil, project_id: nil}}
:javascript
  $("#add_role").click(function(){
    $("#roles").append("#{role_form}");
    return(false);
  })
