- # possible parameters for avatar: :none, :small, :medium, :large
- # possible parameters for name: :show, :full
- # extra text like role names can also be included
.user
  - avatar ||= :small
  - name ||= :show
  = link_to user do
    - if (avatar != :none)
      = image_tag(user.avatar.url(avatar))
    - if (name == :show)
      %span.username= user
    - if (name == :full)
      %span.username= user.full_name
  - if defined?(extra)
    %span.userextra= extra