- unless @user.projects.blank?
  = content_for :info do
    %h3 Projects
    %ul
      - @user.projectroles.each do |role|
        %li
          = link_to role.authorizable, project_path(role.authorizable.id)
          ="(#{t("role."+role.name)})"

%h2
  .user
    = image_tag(@user.avatar.url(:large))
    %span.username= @user

%p
  - unless @user.institution_phone.blank?
    = "#{t("address.phone")}: #{@user.institution_phone}"
    %br
  - unless @user.email.blank?
    Email:
    = mail_to(@user.email, nil, :encode => :javascript)
    %br
  - unless @user.url.blank?
    = "#{t("address.url")}:"
    = link_to @user.url, @user.url, :target => "_blank"
    %br
  - unless @user.comment.blank?
    = @user.comment

- unless @user_datasets_owned.empty?
  %h3 Datasets
  %ul
    - @user_datasets_owned.each do |ds|
      %li
        = render :partial => ds, :locals => {:with_cart => true, :with_comment => true}

- unless @user.datasets_with_responsible_datacolumns_not_owned.count==0
  %h3 Involved with data columns within the following datasets
  %ul
    - @user.datasets_with_responsible_datacolumns_not_owned.each do |ds|
      %li
        = render :partial => ds, :locals => {:with_cart => true, :with_comment => false}

= render :partial => 'paperproposals/associated_paperproposals', :locals => {:paperproposals => @user.paperproposal_author, :authorship_user => @user}
