- unless @user.projects.blank?
  = content_for :info do
    %h3 Projects
    %ul
      - @user.projectroles.each do |role|
        %li
          = link_to role.authorizable, project_path(role.authorizable.id)
          ="(#{t("role."+role.name)})"

%h2
  = render :partial => @user, :locals => {:avatar => :large}

%p
  - unless @user.institution_phone.blank?
    = "#{t("address.phone")}: #{@user.institution_phone}"
    %br
  - unless @user.email.blank?
    = "#{t("address.email")}: #{@user.email}"
    %br
  - unless @user.url.blank?
    = "#{t("address.url")}:"
    = link_to @user.url, @user.url, :target => "_blank"
    %br
  - unless @user.comment.blank?
    = @user.comment

- unless @user_datasets_owned.empty?
  %h3 Datasets
  %ul
    - @user_datasets_owned.each do |ds|
      %li
        = render :partial => ds, :locals => {:with_cart => true, :with_comment => true}

- unless @user.datasets_with_responsible_datacolumns_not_owned.count==0
  %h3 Involved with data columns within the following datasets
  %ul
    - @user.datasets_with_responsible_datacolumns_not_owned.each do |ds|
      %li
        = link_to ds.title, dataset_path(ds)
        - if current_user
          = link_to image_tag("cart.png"), create_cart_context_path(:dataset_id => ds.id), :method => :post

- unless @user.paperproposal_author.blank?
  %h3 Paper proposal submissions
  %ul
    - @user.paperproposal_author.each do |pp|
      %li
        = link_to pp.title, {:controller => :paperproposals, :action => :show, :id => pp.id }
        = "(#{pp.calc_authorship(@user)})"

-#- unless @user.users_roles.blank?
-#  - for role in @user.person_roles.reject{|r| r.role == "admin"}
-#    .comment
-#      %b= link_to role.project, project_path(role.project)
-#      %br/
-#      = "#{t("role."+role.role.name)}" unless role.role.blank?
-#      %br/
-#      - unless role.institution.blank?
-#        %br/
-#        = role.institution.name unless role.institution.name.blank?
-#        ,
-#        \#{role.institution.affiliation unless role.institution.affiliation.blank?},
-#        \#{role.institution.street unless role.institution.street.blank?},
-#        \#{role.institution.city unless role.institution.city.blank?},
-#        \#{role.institution.country unless role.institution.country.blank?}
-#        %br/
-#        = "#{t("address.phone")}:" + role.institution.phone + "<br/>" unless role.institution.phone.blank?
-#        = "#{t("address.email")}:" + antispam_email_link(role.institution.email) + "<br/>" unless role.institution.email.blank?
-#        = "#{t("address.url")}:" + link_to(role.institution.url, role.institution.url) + "<br/>" unless role.institution.url.blank?
-#        = role.institution.comment unless role.institution.comment.blank?
-#        %br/
-#      - unless role.measmeths_personroles.blank?
-#        Following methods were used:
-#        %ul
-#          - role.measmeths_personroles.each do |mmpr|
-#            - unless mmpr.measurements_methodstep.blank?
-#              %li
-#                %b
-#                  = mmpr.measurements_methodstep.columnheader.humanize
-#                  \:
-#                = mmpr.measurements_methodstep.definition
-#                (#{link_to 'View context', {:controller => 'contexts', :action => 'show', :id => mmpr.measurements_methodstep.context.id}})
-#      = role.comment unless role.comment.blank?
