- if current_user && current_user.admin
  = content_for :actions do
    = link_to edit_user_path(@user) do
      = image_tag "edit.png"
      Edit User
    - if @deletable
      = link_to user_path(@user), :method => :delete, :confirm => "Are you sure to delete #{@user.to_label}" do
        = image_tag "trash.png"
        Delete User
- unless @project_roles.blank?
  = content_for :info do
    %h3 Projects
    %ul
      - @project_roles.each do |role|
        %li
          = link_to role.authorizable, project_path(role.authorizable)
          ="(#{t("role."+role.name)})"

%h2
  .user
    = image_tag(@user.avatar.url(:large))
    %span.username= @user

%p
  - unless @user.institution_phone.blank?
    = "#{t("address.phone")}: #{@user.institution_phone}"
    %br
  - unless @user.email.blank?
    Email:
    = mail_to(@user.email, nil, :encode => :javascript)
    %br
  - unless @user.url.blank?
    = "#{t("address.url")}:"
    = link_to @user.url, @user.url, :target => "_blank"
    %br
  - unless @user.comment.blank?
    = @user.comment
- if @user == current_user
  - unless @user.single_access_token.blank?
    Api login credentials:
    = @user.single_access_token

- unless @datasets_owned.empty?
  %h3 Datasets
  %ul
    - @datasets_owned.each do |ds|
      %li
        = render :partial => ds, :locals => {:with_cart => true, :with_comment => true}

- unless @datasets_with_responsible_datacolumns_not_owned.count==0
  %h3 Involved with data columns within the following datasets
  %ul
    - @datasets_with_responsible_datacolumns_not_owned.each do |ds|
      %li
        = render :partial => ds, :locals => {:with_cart => true, :with_comment => false}

= render :partial => 'paperproposals/associated_paperproposals', :locals => {:paperproposals => @paperproposals, :authorship_user => @user}
