- if @user == current_user
  = content_for :actions do
    = link_to edit_profile_path do
      = image_tag "edit.png"
      = "Edit profile"
    = link_to votes_path do
      = image_tag "checkbox.png"
      = "Paperproposal Votes"
    = link_to new_dataset_path do
      = image_tag "file-upload.png"
      = "Create dataset"
    = link_to new_paperproposal_path do
      = image_tag "document.png"
      = "Create paperproposal"
    = link_to update_credentials_path, :confirm => "Really update your api login credentials?" do
      = image_tag "reload.png"
      = "Update api login credentials"

- unless @user.projects.blank?
  = content_for :info do
    %h3 Projects
    %ul
      - @user.projectroles.each do |role|
        %li
          = link_to role.authorizable, project_path(role.authorizable.id)
          ="(#{t("role."+role.name)})"

%h2
  .user
    = image_tag(@user.avatar.url(:large))
    %span.username= @user

%p
  - unless @user.institution_phone.blank?
    = "#{t("address.phone")}: #{@user.institution_phone}"
    %br
  - unless @user.email.blank?
    Email:
    = mail_to(@user.email, nil, :encode => :javascript)
    %br
  - unless @user.url.blank?
    = "#{t("address.url")}:"
    = link_to @user.url, @user.url, :target => "_blank"
    %br
  - unless @user.comment.blank?
    = @user.comment
- if @user == current_user
  - unless @user.single_access_token.blank?
    Api login credentials:
    = @user.single_access_token

- unless @user_datasets_owned.empty?
  %h3 Datasets
  %ul
    - @user_datasets_owned.each do |ds|
      %li
        = render :partial => ds, :locals => {:with_cart => true, :with_comment => true}

- unless @user.datasets_with_responsible_datacolumns_not_owned.count==0
  %h3 Involved with data columns within the following datasets
  %ul
    - @user.datasets_with_responsible_datacolumns_not_owned.each do |ds|
      %li
        = render :partial => ds, :locals => {:with_cart => true, :with_comment => false}

= render :partial => 'paperproposals/associated_paperproposals', :locals => {:paperproposals => @user.paperproposals, :authorship_user => @user}
