%ul#foot-menu
  %li= link_to 'Help', help_path, :target => '_blank'
  %li= link_to 'Imprint', imprint_path
%ul#page-associates
  %li= link_to "FunDivEUROPE", "http://www.fundiveurope.eu"
  %li= link_to "European Union", "http://europa.eu/"
  %li= link_to "Seventh Framework Programme", "http://cordis.europa.eu/fp7/home_en.html"
