- sophia_id = 7
- christian_id = 13
%h2
  Imprint
%p
  = link_to("Special Botany and functional Biodiversity", "http://alfresco.uni-leipzig.de/spezbot/")
  Faculty of Biology, University of Leipzig
%p
  = link_to "Prof. Dr. Christian Wirth", {:controller => :users, :action => :show, :id => christian_id}
  is responsible for the contents of this website.
%p
  Please address any questions to
  = link_to "Sophia Ratcliffe", {:controller => :users, :action => :show, :id => sophia_id}

%hr

%p
  %strong
    Angaben gemäß § 5 TMG:
  %br
  Universität Leipzig
  %br
  Johannisallee 21-23
  %br
  04103 Leipzig
%strong
  Vertreten durch
%p
  %strong
    = link_to "Prof. Dr. Christian Wirth", {:controller => :users, :action => :show, :id => christian_id}
  %br
  Telefon: +49 341 9738576
  %br
  Telefax: +49 341 9738549
  %br
  E-Mail:
  = mail_to("cwirth@uni-leipzig.de", nil, :encode => :javascript)
%p
  %strong
    = link_to "Sophia Ratcliffe", {:controller => :users, :action => :show, :id => sophia_id}
  %br
  E-Mail:
  = mail_to("sophia.ratcliffe@uni-leipzig.de", nil, :encode => :javascript)

%hr

%p
  The data portal shares a code base with
  = link_to("The Chinese-​European DFG Research Unit “BEF China” (FOR 8)", "http://www.bef-china.de")


%p#copyright-remarks
  The following sources were used to create these pages:
  = link_to "Iconset DefaultIcon", "http://www.interactivemania.com"
  = "/"
  = link_to "Iconset Dortmund", "http://pc.de/icons/"





