-# Conditional things to edit when paperproposal is final
-## TODO!!!!

%div
  %div.box
    %h3 Global Mini Proposal Information
    - form_for @paperproposal do |f|
      %br
      = f.label :state
      = f.select :state, ["in prep", "manuscript avaible", "in review", "accepted"]

  %div.box
    %h3 Freeformat files
    - unless @freeformats.blank?
      %h4 Change freeformat files
      = render :partial => 'freeformats/edit_list'
    %h4 Add freeformat file
    = render :partial => 'freeformats/new', :locals => {:freeformattable => @paperproposal}

  %div.box
    %h3 State of Data Request
    %p
      = render :partial => 'state_of_vote'