= form_for @paperproposal, :html => {:class => 'paperproposal-metadata-form '} do |f|
  = f.error_messages
  %dl
    %dt= f.label :title, class: 'required'
    %dd= f.text_field :title

    - unless @paperproposal.new_record?
      %p Initial title was: #{@paperproposal.initial_title}

    %dt= f.label :envisaged_journal
    %dd= f.text_area :envisaged_journal, rows: 2, :style => 'height: auto'

    %dt= f.label :envisaged_date
    %dd= f.date_select :envisaged_date

    %dt= f.label :rationale, class: 'required'
    %dd= f.text_area :rationale

    %dt= f.label :external_data
    %dd= f.text_field :external_data

    %dt= f.label :state
    %dd= f.select :state, ["in prep", "manuscript avaible", "in review", "accepted"]

    %dt= f.label :comment
    %dd= f.text_area :comment

    %h3 Authorship
    - unless limited_edit_of_final?
      %dt= f.label :author
      %dd= f.select :author_id, all_users_names_and_ids_for_select

    %dt= f.label :authored_by_project
    %dd= f.select :project_id, all_projects_for_select, { :include_blank => false }

    %h4 Main Proponents
    %p (Main proponents are those authors, that contribute major aspects to the analysis.)

    %p= select "not_needed", "param", all_users_names_and_ids_for_select, {:prompt => 'Select Member'}, {:onchange => 'selectPeople(this)'}
    %ul#people-list
      - proponents = defined?(@temp_proponents) ? @temp_proponents : @paperproposal.proponents
      - proponents.each do |user|
        %li{:onclick => "this.parentNode.removeChild(this);"}
          %input{:name => "people[]", :type => "hidden", :value => user.id}/
          = image_tag 'cancel.png'
          = user.to_label

  = f.submit "Submit"
