= f.label :title
= f.text_field :title
- if @paperproposal.id
  %br
  = f.label :initial_title
  = f.text_field :initial_title, :disabled => 'disabled'
%br
= f.label :envisaged_journal
= f.text_field :envisaged_journal
%br
= f.label :envisaged_date
= f.date_select :envisaged_date
%br
= f.label :author
= f.select :author_id, @all_persons.map{|person| [person.to_label, person.id]}
%br
= f.label :authored_by_project
= f.select :project_id, Project.all.map{|project| [project.to_label, project.id]}, { :include_blank => false }
%br
= f.label :rationale
= f.text_area :rationale
%br
= f.label :external_data
= f.text_field :external_data
%br
= f.label :state
= f.select :state, ["in prep", "manuscript avaible", "in review", "accepted"]
%br
= f.label :comment
= f.text_area :comment