- page_title "Manage Datasets for #{@paperproposal.title}"

%h2
  Select Datasets for
  = link_to @paperproposal.title, @paperproposal

= form_tag :controller=> 'paperproposals', :action => 'update_datasets' do |f|
  %table.paperproposal-datasets-table
    %thead
      %tr
        %th Dataset
        %th Aspect
        %th Remove
    %tbody#collect-datasets-tbody
      - @datasets.each do |ds|
        %tr
          %input{:name => "datasets[][id]", :type => "hidden", :value => ds.id}
          %td= ds.title
          - ds_pp = @paperproposal.dataset_paperproposals.where('dataset_id = ?', ds.id).first
          %td= select_tag "datasets[][aspect]", options_for_select(['main','side'], :selected => ds_pp.nil? ? nil : ds_pp.aspect)
          %td
            %a{:onclick => "this.parentNode.parentNode.parentNode.removeChild(this.parentNode.parentNode);"} Remove
  %h4 Add dataset
  = select "add_dataset_to_paperproposal", "select",
    @all_datasets.map{|ds| [ds.title, ds.id]}, {:prompt => 'Select Dataset'}, {:onchange => 'selectDatasets(this)'}

  - if @paperproposal.board_state == 'final'
    %p= submit_tag 'Submit', :confirm => 'This will revoke all download rights. Are you sure?'
  - else
    %p= submit_tag 'Submit'
