- page_title "Paper Proposals"

- if current_user
  = content_for :actions do
    = link_to :new_paperproposal do
      = image_tag("document.png")
      Create new Paperproposal
    = link_to paperproposals_path(:csv) do
      = image_tag("save.png")
      Download list as CSV

%h2 Paper Proposals

= render :partial => 'paperproposals/associated_paperproposals', :locals => {:no_heading => true}

-#- pp_select = @paperproposals.select{ |p| p.state == 'accepted'}
-#- unless pp_select.blank?
-#  %h3 Published
-#  = render :partial => 'list', :locals => {:paperproposals => pp_select, :with_lock => true}
-#
-#- if current_user
-#  - pp_select = @paperproposals.select{|p| p.state == 'in review'}.sort
-#  - unless pp_select.blank?
-#    %h3 In review
-#    = render :partial => 'list', :locals => {:paperproposals => pp_select, :with_lock => true}
-#
-#  - pp_select = @paperproposals.select{|p| p.state == 'manuscript avaible'}.sort
-#  - unless pp_select.blank?
-#    %h3 Manuscript avaible
-#    = render :partial => 'list', :locals => {:paperproposals => pp_select, :with_lock => true}
-#
-#  - pp_select = @paperproposals.select{|p| p.state == 'in prep'}.sort
-#  - unless pp_select.blank?
-#    %h3 In preparation
-#    = render :partial => 'list', :locals => {:paperproposals => pp_select, :with_lock => true}

