- page_title "Paper proposal: #{@paperproposal.title}"

- if may_administrate_paperproposals? || is_paperproposal_author?
  = content_for :actions do
    %ul
      - if @paperproposal.lock
        %li
          = image_tag("lock-closed.png")
          Locked
      - if may_administrate_paperproposals? || author_may_edit?
        %li
          = link_to edit_paperproposal_path(@paperproposal) do
            = image_tag("edit.png")
            Edit Metadata
        %li
          = link_to edit_files_paperproposal_path(@paperproposal) do
            = image_tag("edit.png")
            Manage Files
      - if may_administrate_paperproposals? || author_may_edit_datasets?
        %li
          = link_to edit_datasets_paperproposal_path(@paperproposal) do
            = image_tag("edit.png")
            Manage Datasets
      - if may_administrate_paperproposals?
        %li
          = link_to administrate_votes_paperproposal_path(@paperproposal) do
            = image_tag("edit.png")
            Admin
      - if may_administrate_paperproposals? || is_paperproposal_author?
        %li
          = link_to safe_delete_paperproposal_path(@paperproposal), :confirm => "Do you really want to delete this paperproposal?" do
            = image_tag("trash.png")
            Delete

= content_for :info do
  %h3 State
  %p= @paperproposal.state
  %h3 Author
  = render @paperproposal.author
  - unless @paperproposal.proponents.empty?
    %h3 Main Proponents
    %ul
      - @paperproposal.proponents.each do |u|
        %li= render u
  - unless @paperproposal.authored_by_project.blank?
    %h3 Project
    = link_to @paperproposal.authored_by_project.name, @paperproposal.authored_by_project
  - if current_user
    %h3 Email lists
    %ul
      %li
        = render :partial => "users/email_list_modal",
                  :locals => {:contacts => @paperproposal.authors_selection(:author_and_proponents),
                              :css => "paperproposal_owners_prop",
                              :caption => 'Author and proponents'}
      %li
        = render :partial => "users/email_list_modal",
                  :locals => {:contacts => @paperproposal.authors_selection(:proponents_and_main),
                              :css => "paperproposal_owners_main",
                              :caption => 'Author, proponents and owners of main datasets'}
      %li
        = render :partial => "users/email_list_modal",
                  :locals => {:contacts => @paperproposal.authors_selection(:proponents_and_all_owners),
                              :css => "paperproposal_owners_datasets",
                              :caption => 'Author, proponents and all dataset owners'}
      %li
        = render :partial => "users/email_list_modal",
                  :locals => {:contacts => @paperproposal.authors_selection(:all_mentioned),
                              :css => "paperproposal_authors_also_helper",
                              :caption => 'Author, proponents, dataset owners and data helpers'}

%h2
  = @paperproposal.title

%p
  %strong Created at:
  = @paperproposal.created_at.to_date

- unless @paperproposal.initial_title == @paperproposal.title
  %p
    %strong Initial title:
    = @paperproposal.initial_title

- unless @paperproposal.envisaged_journal.blank?
  %p
    %strong Envisaged journal:
    = sanitize @paperproposal.envisaged_journal

- unless @paperproposal.envisaged_date.blank?
  %p
    %strong Envisaged date:
    =@paperproposal.envisaged_date

%h3 Rationale
= simple_format @paperproposal.rationale

%h3 Datasets #{"(" + @paperproposal.dataset_paperproposals.count.to_s + ")" unless @paperproposal.dataset_paperproposals.empty? }
- if !@paperproposal.dataset_paperproposals.empty?
  %ul
    - @paperproposal.dataset_paperproposals.joins(:dataset).order('aspect ASC, title ASC').each do |ds_pp|
      %li
        = link_to ds_pp.dataset.title, ds_pp.dataset
        = '(' + ds_pp.aspect + ')' unless ds_pp.aspect.nil?
- else
  %p No datasets are linked to this paperproposal.

%h3 Calculated Authors
%p
  %span.comma-separated-list
    - @paperproposal.all_authors_ordered.each do |u|
      %span= link_to u, u

- unless @freeformats.blank?
  %h3 Files (#{@freeformats.length})
  - only_essential_no_links = !current_user
  = render :partial => 'freeformats/index', :locals => {:only_essential_no_links => only_essential_no_links}

%h3 Data request state
= render :partial => 'progress'

