<h1>Editing import_category</h1>

<% form_for(@import_category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :measurements_methodstep_id %><br />
    <%= f.text_field :measurements_methodstep_id %>
  </p>
  <p>
    <%= f.label :raw_data_value %><br />
    <%= f.text_field :raw_data_value %>
  </p>
  <p>
    <%= f.label :categoricvalue_id %><br />
    <%= f.text_field :categoricvalue_id %>
  </p>
  <p>
    <%= f.label :approved %><br />
    <%= f.check_box :approved %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @import_category %> |
<%= link_to 'Back', import_categories_path %>