<p>
  <b>Measurements methodstep:</b>
  <%=h @import_category.measurements_methodstep_id %>
</p>

<p>
  <b>Raw data value:</b>
  <%=h @import_category.raw_data_value %>
</p>

<p>
  <b>Categoricvalue:</b>
  <%=h @import_category.categoricvalue_id %>
</p>

<p>
  <b>Approved:</b>
  <%=h @import_category.approved %>
</p>


<%= link_to 'Edit', edit_import_category_path(@import_category) %> |
<%= link_to 'Back', import_categories_path %>