- cell = Sheetcell.find(cell_id)
- cat_new = Category.new(:short => cell.import_value)
- form_for cell , :url  =>  {:controller  =>  :imports, :action  =>  :cell_category_create} do |f|
  = f.error_messages
  = f.hidden_field :id
  - fields_for cat_new do |cat|
    = cat.text_field :short
    = cat.text_field :long
    = cat.text_field :description
  %p
    To create a completely new category, press: #{f.submit "create"}