<% unless @spe.blank? %>
<div style="font-size: large; clear: both;">Staff of subproject <%= @namee %></div>
<!-- <% unless @pise.blank? %> -->
<!-- 	<p style="font-weight: bold; clear: both; margin-top: 20px;"><%= t('role.pi').pluralize %></p> -->
<!-- 	<%= render :partial => 'subproject_staff', :collection => @pise, :as => :role %> -->
<!-- <% end %> -->

<br></br>

<div>
<% unless @pise.blank? %>
    <%= render :partial => 'subproject_staff', :collection => @pise,
	:as => :role %>
<% end %>
</div>
<br></br>

<div>
<% unless @copise.blank? %>
    <%= render :partial => 'subproject_staff', 
	:collection => @copise, :as => :role %>
<% end %>
</div>

<br></br>

<div><% unless @postdocse.blank? %>
	<%= render :partial => 'subproject_staff', :collection => @postdocse, :as => :role %>
<% end %>
</div>
<br></br>

<div>
<% unless @phdse.blank? %>
	<%= render :partial => 'subproject_staff', :collection => @phdse, :as => :role %>
<% end %>
</div>
<br></br>

<div>
<% unless @technicianse.blank? %>
	<%= render :partial => 'subproject_staff', :collection => @technicianse, :as => :role %>
<% end %>
</div>
<br></br>

<div>
<% unless @studentse.blank? %>
	<%= render :partial => 'subproject_staff', :collection => @studentse, :as => :role %>
<% end %>
</div>
<br></br>

<div>
<% unless @others.blank? %>
	<%= render :partial => 'subproject_staff', :collection => @others, :as => :role %>
<% end %>
</div>

<% end %>
