
<% cell = Measurement.find(cell_id) 
   cat_new = Categoricvalue.new(:short => cell.import_value)
%> 
<%#= cell.categoricvalue.verbose %>
<% form_for cell , :url  =>  {:controller  =>  :import,
     :action  =>  :cell_category_create} do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :id %>
  <% fields_for cat_new do |cat|%>
    <%= cat.text_field :short %>
    <%= cat.text_field :long %>
    <%= cat.text_field :description %>
  <% end %>
  <p>To create a completely new category, press: <%= f.submit "create" %></p>
<% end %>
