
<p> Data column:<%= @data_column.columnheader %>, id: <%=  @data_column.id %>
</p>

<p> Categories available on the portal for this data group:
  <%= @portal_cats.inspect %> 
</p>

<p> Categories provided in the category sheet of the spreadsheet:
  <%= @sheet_cats.inspect %> 
</p>

<p> Values stored:
  <% if @data_column.values_stored? %>
    <%=  @first_meas %>
  <% else %>
    No values uploaded yet.  Decide, which data type your data has and
    then your data will be uploaded.  There is now only a text
    representation of your data in the data base.  Nobody will at this
    stage be able to download your data, since this needs uploading
    and during this rough quality checking.
  <% end %>
</p>

<p> Data provided: <%= @cell_values_all.sort.inspect %>
</p>


   
<% form_for @data_column, :url => {:controller=> :import, :action =>
     :add_data_values} do |form| %>
  <%= form.hidden_field :id %>
  <%= form.label :import_data_type, "Which type of data is this?" %>
  <%= form.select(:import_data_type, 
                %w{category year date(14.07.2009) date(2009-07-14) number text},
	        :prompt => "Select please") %>
  <%= form.submit "accept"%>
<% end %>

