<p>Column in raw data: <%= @data_column.columnnr %>, Data header:
  "<%= @data_column.columnheader %>", Context id: <%= @context.id
  %>. Tags provided: <%= @data_column.tags.collect{|t| [t.name, t.kind]}.inspect %>

</p>


<% form_for @data_column, :url => {:controller=> :import, :action =>
     :update_data_header} do |form| %>
  <%= form.hidden_field :id %>
  Unit: <%= form.text_field :unit, :size => 10  %>
  Missing values coded as: <%= form.text_field :missingcode, :size => 10  %>
  Definition: <%= form.text_area :definition, :cols => 5, :rows => 4 %>
  Comment: <%= form.text_area :comment, :cols => 5, :rows => 4  %>
  Tags: <%= form.text_field :tag_list %>
  <%= submit_tag  %>
<% end %>


