
<div><%= render 'context_export_destroy' %></div>


<b><%= link_to @context.title, {:controller => 'contexts', 
	     :action => 'show', :id => @context.id} %></b>

<% form_for @context, :url => {:controller => :contexts, 
                            :action => :show, :id => @context.id} do |f| %>
   <%= f.error_messages %>

   <%= f.text_field :title %>
   <%= f.text_field :abstract %>

   
        <p>
	<%= f.submit 'Update' %>
    	</p>    
<% end %>
