
<p> Uploading "<%= @context.title %>"

  (<%= @context.filename %>)

</p>

<div><%= render 'context_export_destroy' %></div>

<div><%= render 'context_step_five' %></div>


<% if @checkUnique %>
  <p>
    Congratulations, your data columns have unique headers and were
    uploaded to our data base!  Now you should go through each of the
    data columns to load your data.
  </p>
  <div><%= render 'data_header_link_list' %></div>

<% else %>
  <p>Sorry, we cannot proceed.  The headers in the data columns have
    to be unique, otherwise we cannot use the information in the
    people, methods, or category sheets.  Please delete this context,
    make sure your data column headers in the raw data sheet are
    unique, and reload.  You can download the current state of your
    workbook here: 
    <b><%= link_to @context.title, {:controller => 'contexts', 
	     :action => 'show', :id => @context.id} %></b>
  </p>
<% end %>








