.span-7
  = form_tag :controller=> 'datacolumns', :action => 'update_metadata' do |form|
    .span-6
      %p
        Please hava a look on the metadata and the members involved with the data column
        %i #{@data_column.columnheader}.
      = hidden_field_tag :id, @data_column.id
      .span-3= label_tag 'datacolumn[definition]', 'Definition'
      .span-3.last= text_area_tag 'datacolumn[definition]', @data_column.definition
      .span-3= label_tag 'datacolumn[comment]', 'Comma separated keywords'
      .span-3.last= text_area_tag 'datacolumn[comment]', @data_column.comment
      .span-3= #label_tag 'datacolumn[tags]', 'Tags'
      .span-3.last= #text_field_tag 'datacolumn[tags]', @data_column.tag_list
      .span-3= label_tag 'datacolumn[unit]', 'Unit'
      .span-3.last= text_field_tag 'datacolumn[unit]', @data_column.unit
      .span-3= label_tag 'datacolumn[missingcode]', 'Missing values coded as'
      .span-3.last= text_field_tag 'datacolumn[missingcode]', @data_column.missingcode
      %p.clear
        Research unit members to be acknowledged or otherwise involved. 
      .span-3= label_tag 'people', 'People'
      .span-3.last
      = select "person", "person_id", @people_list.map{|p| [p.to_label, p.id]}, {:prompt => 'Select Member'}, {:onchange => 'selectPeople(this)'}
      %ul#people-list{:style => 'list-style: none;'}
        - @ppl.each do |person|
          %li{:onclick => "this.parentNode.removeChild(this);"}
            %input{:name => "people[]", :type => "hidden", :value => person.id}/
            = image_tag person.avatar.to_s, :height => '16'
            = person.to_label
      %button{:name => "commit", :type => "submit"} Save
      %p.clear
      
