= form_tag :action => 'update_invalid_values', :controller => 'datacolumns' do |form|
  = hidden_field_tag :id, @data_column.id
  - unless @invalid_values_hash.blank?
    - if(@invalid_values_hash.length==1)
      There is 1 invalid value
    - else
      There are #{@invalid_values_hash.length} invalid values
    %table
      %tr
        %th Original
        %th Short
        %th Long
        %th Description
      - @invalid_values_hash.each do |value, i|
        %tr
          %td
            = value
          %td
            = text_field_tag "short_value_#{i}", value
          %td
            = text_field_tag "long_value_#{i}"
          %td
            = text_field_tag "description_#{i}"
    %button{:name => "commit", :type => "submit"} Approve

    - unless @available_categories.blank?
      %p.clear
        Available categories in the #{@data_column.datagroup.title} datagroup:
        %br
        - @available_categories.each do |cat|
          = cat.short
          %br