.span-8.last
  %h4 Data Values
- unless @portal_cats.blank?
  %p
    Categories available on the portal for this data group: #{@portal_cats.inspect}
- unless @sheet_cats.blank?
  %p
  Categories provided in the category sheet of the spreadsheet: #{@sheet_cats.inspect}
- if @data_column.values_stored?
  %p The following is an overview of the accepted values for this Data Column.
  %table.import_values
    %tr
      %th.span-1.centercolumn
        Row
      %th.span-4.last
        Value
    - @data_column.accepted_values(5).each_with_index do |sc, i|
      - even = (i % 2 == 0) 
      %tr
        %td.centercolumn.span-1{:class => "#{even ? 'even' : 'odd'}"} #{i}
        %td.span-4.last{:class => "#{even ? 'even' : 'odd'}"} #{sc.accepted_value}
- else
  %p The following is an overview of the originally imported values for this Data Column.
  %table.import_values
    %tr
      %th.span-1.centercolumn
        Row
      %th.span-4.last
        Value
    - @data_column.imported_values(10).each_with_index do |sc, i|
      - even = (i % 2 == 0) 
      %tr
        %td.centercolumn.span-1{:class => "#{even ? 'even' : 'odd'}"} #{i}
        %td.span-4.last{:class => "#{even ? 'even' : 'odd'}"} #{sc.import_value}
= form_tag :action => :update_datatype, :controller => :datacolumns do |form|
  = hidden_field_tag :id, @data_column.id
  .span-3= label_tag 'datacolumn[import_data_type]', "Which type of data is this?"
  .span-3.last= select('datacolumn', 'import_data_type', %w{category year date(14.07.2009) date(2009-07-14) number text}, :prompt => "Select please")
  %button{:name => 'commit', :type => 'submit'} Save Data Type
  %p.clear