.span-8.last
- @cell_uniq_arr.each do |cell|
  Category for value
  %b= cell.import_value
  = form_tag :action => 'update_category', :controller => 'datacolumns' do |form|
    %p.clear
      = hidden_field_tag :id, @data_column.id
      = hidden_field_tag 'sheetcell[id]', cell.id
      = hidden_field_tag 'sheetcell[status_id]', Sheetcellstatus::PORTAL_MATCH
      = select_tag 'sheetcell[category_id]', options_from_collection_for_select(@cats_to_choose, 'id', 'verbose')
      %button.inline{:name => "commit", :type => "submit"} Save Category
