.span-8.last
  %p
    Please confirm the metadata and acknowledgements.
  = form_tag :controller=> 'datacolumns', :action => 'update_metadata' do |form|
    = hidden_field_tag :id, @datacolumn.id
    .span-3= label_tag 'datacolumn[definition]', 'Definition'
    .span-3.last= text_area_tag 'datacolumn[definition]', @datacolumn.definition
    .span-3= label_tag 'datacolumn[comment]', 'Comma separated keywords'
    .span-3.last= text_area_tag 'datacolumn[comment]', @datacolumn.comment
    .span-3= #label_tag 'datacolumn[tags]', 'Tags'
    .span-3.last= #text_field_tag 'datacolumn[tags]', @data_column.tag_list
    .span-3= label_tag 'datacolumn[unit]', 'Unit'
    .span-3.last= text_field_tag 'datacolumn[unit]', @datacolumn.unit
    %p.clear
      Acknowledgements
    - unless @ppl_not_found.blank?
      %p
        The following people could not be matched automatically:
        = @ppl_not_found.join(",")
    .span-3= label_tag 'people', 'People'
    .span-3.last
      = select "person", "person_id", User.all_users_names_and_ids_for_select, {:prompt => 'Select Member'}, {:onchange => 'selectPeople(this)'}
      %ul#people-list{:style => 'list-style: none;'}
        - @ppl.each do |person|
          %li{:onclick => "this.parentNode.removeChild(this);"}
            %input{:name => "people[]", :type => "hidden", :value => person.id}/
            = image_tag person.avatar.to_s, :height => '16'
            = person.to_label
    %button.clear{:name => "commit", :type => "submit"} Save
%p.clear
