%h3 Overview

-unless @datacolumn.finished
  %p
    %strong
      The datacolumn is not yet fully approved,
      = link_to "click here to do so.", next_approval_step_datacolumn_url(@datacolumn)

%h4
  Datagroup
  = "(not yet approved)" unless @datacolumn.datagroup_approved?
%p
  = link_to @datacolumn.datagroup.title, @datacolumn.datagroup

%h4
  Datatype
  = "(not yet approved)" unless @datacolumn.datatype_approved?
%p
  = @datacolumn.import_data_type

%h4 Invalid values
%p
  - if @datacolumn.has_invalid_values?
    There are still invalid values. Please approve.
  - else
    No invalid values found.

%h4
  Metadata
  = "(not yet approved)" unless @datacolumn.finished?
%p
  %strong Definition:
  = @datacolumn.definition
%p
  %strong Comment:
  = @datacolumn.comment
%p
  %strong Unit:
  = @datacolumn.unit
%p
  %strong People:
  %span.comma-separated-list
    - @datacolumn.users.each do |u|
      %span= link_to u, u
  - unless @datacolumn.informationsource.blank?
    %br
    = @datacolumn.informationsource





