- if current_user
  - content_for :actions do
    = link_to "Create new Dataset", new_dataset_path

- content_for :info do
  %h3
    = link_to "Keywords", keywords_path
  - tag_cloud @tags, %w(nube1 nube2 nube3 nube4 nube5) do |tag, css_class|
    = link_to tag.name, {:controller => :tags, :action => :show, :id => tag.id}, :class => css_class
    = "  "

%h2 Data sets
%ul.datasets
  - @datasets.each do |ds|
    %li.dataset
      = link_to ds.title, dataset_path(ds), :class => :dataset