- if current_user
  - content_for :actions do
    = link_to new_dataset_path do
      = image_tag "file-upload.png"
      Create new Dataset
    = link_to datagroups_path do
      = image_tag "list-ordered.png"
      List Datagroups

- content_for :info do
  %h3
    = link_to "Keywords", keywords_path
  - tag_cloud @tags, %w(nube1 nube2 nube3 nube4 nube5) do |tag, css_class|
    = link_to tag.name, keyword_path(tag), :class => css_class
    = "  "

%h2 Data sets
%ul.datasets
  - @datasets.each do |ds|
    %li.dataset
      = render :partial => ds, :locals => {:with_cart => true, :with_comment => false}