- if current_user
  - content_for :actions do
    = link_to new_dataset_path do
      = image_tag "file-upload.png"
      Create new Dataset
    = link_to datagroups_path do
      = image_tag "list-ordered.png"
      List Datagroups

- content_for :info do
  %h3
    = link_to "Keywords", keywords_path
  - tag_cloud @tags, %w(nube1 nube2 nube3 nube4 nube5) do |tag, css_class|
    = link_to tag.name, keyword_path(tag), :class => css_class
    = "  "

%h2 Data sets

.dataset-filter
  %ul.switchers
    %li
      = link_to "All", data_path(sort: params[:sort], direction: params[:direction]), :class => ['true','false'].include?(params[:workbook]) ? 'switcher' : 'switcher selected'
    %li
      = link_to "With Workbook", data_path(sort: params[:sort], direction: params[:direction], workbook: true), :class => params[:workbook] == 'true' ? 'switcher selected' : 'switcher'
    %li
      = link_to "Without Workbook", data_path(sort: params[:sort], direction: params[:direction], workbook: false), :class => params[:workbook] == 'false' ? 'switcher selected' : 'switcher'
  .right
    Sort #{@datasets.length} of #{Dataset.count} datasets by
    = select_tag "Sort", options_for_select({"Title" => data_path(sort: 'title', direction: 'asc', workbook: params[:workbook]), "Newest" => data_path(sort: 'id', direction: 'desc', workbook: params[:workbook]), "Recently Updated" => data_path(sort: 'last_update', direction: 'desc', workbook: params[:workbook])}, selected: request.env['REQUEST_URI']), :class => 'js-select-menu'

%ul.datasets
  - @datasets.each do |ds|
    %li.dataset
      = render :partial => ds, :locals => {:with_cart => true, :with_comment => false}

:javascript
  $(function(){
    $(".js-select-menu").change(function(){
      var value = $(this).val();
      window.location.href = value;
    });
  })