- page_title 'Data'

- if current_user
  - content_for :actions do
    = link_to new_dataset_path do
      = image_tag "file-upload.png"
      Create new Dataset
    = link_to datagroups_path do
      = image_tag "list-ordered.png"
      List Datagroups

- content_for :info do
  %h3
    = link_to "Keywords", keywords_path
  - tag_cloud @tags, %w(nube1 nube2 nube3 nube4 nube5) do |tag, css_class|
    = link_to tag.name, keyword_path(tag), :class => css_class
    = "  "

%h2 Data sets

#filters.clearfix
  #sorting-select-menu.right
    %span
      Sort
      - if params[:q].present?
        #{@datasets.count} of
      #{Dataset.count} datasets by
    = select_tag :name, dropdown_list_to_sort_datasets, class: 'js-select-menu'
  %ul.left.nav
    %li.dropdown
      %span.dropdown-toggle Access Right
      .js-modal-container
        .js-modal
          .modal-header
            %h4 Access Right
          .modal-body
            %ul.js-select
              - Dataset::ACCESS_CODES.stringify_keys.each do |access, value|
                = content_tag :li, class: @filter_params.has_param?(:access_code, value.to_s) ? 'selected' : nil do
                  = link_to access.humanize, data_path(params.merge(q: @filter_params.toggle_param(:access_code, value.to_s)))
    %li.dropdown
      %span.dropdown-toggle Data Files
      .js-modal-container
        .js-modal
          .modal-header
            %h4 Data Files
          .modal-body
            %ul.js-select
              - {'With Workbook' => 'w', 'With Attachment Files' => 'a', 'Workbook + Attachment Files' => ['w', 'a'], 'Metadata Only' => 'n'}.each do |text, code|
                = content_tag :li, class: @filter_params.has_param?(:f, code) ? 'selected' : nil do
                  = link_to text, data_path(params.merge(q: @filter_params.toggle_param(:f, code)))

- if @datasets.empty?
  %i No Datasets Found.

%ul.datasets
  - @datasets.each do |ds|
    %li.dataset
      = render :partial => ds, :locals => {:with_cart => true, :with_comment => false}

= will_paginate(@datasets)

:javascript
  $(function(){
    $(".js-select-menu").change(function(){
      var value = $(this).val();
      window.location.href = value;
    });
  })