- page_title 'Data'

- if current_user
  - content_for :actions do
    = link_to new_dataset_path do
      = image_tag "file-upload.png"
      Create new Dataset
    = link_to datagroups_path do
      = image_tag "list-ordered.png"
      List Datagroups

- content_for :filters do
  = form_tag("/data",method: "get") do
    %h3 Filter datasets:
    %select{multiple: "", name: "access_code[]"}
      %option{value: "private"} private
      %option{value: "free_within_projects"} open within projects
      %option{value: "free_for_members"} open for members
      %option{value: "free_for_public"} open for public
    %select{multiple: "", name: "workbook[]"}
      %option{value: "true"} with workbook
      %option{value: "false"} without workbook
    %select{multiple: "", name: "attachment[]"}
      %option{value: "true"} with attachment
      %option{value: "false"} without attachment
    = button_to 'Apply filter', {}, {id: "filter-button"}

- content_for :info do
  %h3
    = link_to "Keywords", keywords_path
  - tag_cloud @tags, %w(nube1 nube2 nube3 nube4 nube5) do |tag, css_class|
    = link_to tag.name, keyword_path(tag), :class => css_class
    = "  "

%h2 Data sets

.dataset-filter
  %ul.switchers
    %li
      = link_to "All", data_path(sort: params[:sort], direction: params[:direction]), :class => ['true','false'].include?(params[:workbook]) ? 'switcher' : 'switcher selected'
    %li
      = link_to "With Workbook", data_path(sort: params[:sort], direction: params[:direction], workbook: true), :class => params[:workbook] == 'true' ? 'switcher selected' : 'switcher'
    %li
      = link_to "Without Workbook", data_path(sort: params[:sort], direction: params[:direction], workbook: false), :class => params[:workbook] == 'false' ? 'switcher selected' : 'switcher'
  .right
    Sort #{@datasets.length} of #{Dataset.count} datasets by
    = select_tag "Sort", dropdown_list_to_sort_datasets, :class => 'js-select-menu'

- if @datasets.empty?
  %i No Datasets Found.

%ul.datasets
  - @datasets.each do |ds|
    %li.dataset
      = render :partial => ds, :locals => {:with_cart => true, :with_comment => false}

:javascript
  $(function(){
    $(".js-select-menu").change(function(){
      var value = $(this).val();
      window.location.href = value;
    });
    $("#filters select").each(
      function(index,elem){
        $(elem).select2({"width": "element" });
      }
    );
    (function(){
      var qs = window.location.search.split("&").map(function(s){return decodeURIComponent(s);});
      qs = qs.slice(1,qs.length-1);
      var kv = {};
      qs.forEach(function(q){
        var arr = q.split('=');
        var k = 'select[name="'+arr[0]+'"]';
        var v = arr[1];
        var elem = $(k);
        if(elem != null)
        {
          kv[k] ? kv[k].push(v) : (kv[k] = [v]);
        }
      });
      for (var k in kv) {
        if (kv.hasOwnProperty(k)) {
          $(k).select2('val',kv[k]);
        }
      }
    })();// fill in filter selects according to params
  });
