- page_title "Project: #{@project.to_s}"

- if current_user && current_user.has_role?(:admin)
  = content_for :actions do
    = link_to edit_project_path(@project) do
      = image_tag "edit.png"
      Edit
    - if @project.destroyable?
      = link_to project_path(@project), {:method => :delete, :confirm => "Are you sure to delete project: #{@project.shortname}?"} do
        = image_tag "trash.png"
        Delete this Project
= content_for :info do
  %ul
    - @project.users.each do |person|
      %li
        = render :partial => person, :locals => {:extra => "(#{person.roles_for(@project).map{|e| t("role."+e.name)}.join(",")})"}
  - if current_user
    %h3 Email contact
    %ul
      %li
        = render :partial => "users/email_list_modal",
          :locals => {:contacts => @project.users, :css => "project_members", :caption => 'Project members'}

%h2
  = "#{@project.name} (#{@project.shortname})"

- unless @project.comment.blank?
  - show_to :admin, :data_admin, :project_board do
    .project-comment
      = @project.comment

%p
  = @project.description

- unless @project_datasets.empty?
  %h3 Datasets
  %ul
    - @project_datasets.each do |ds|
      %li
        = render :partial => ds, :locals => {:with_cart => true, :with_comment => true}

= render :partial => 'paperproposals/associated_paperproposals', :locals => {:paperproposals => @project.authored_paperproposals}

