%h2
  = @project.name
  (#{@project.shortname})
= h @project.description

%ul
  - @project.users.each do |person|
    %li
      = render person
      = "(#{person.roles_for(@project).map{|e| t("role."+e.name)}.join(",")})"


- unless @project_datasets.empty?
  %b Datasets
  %ul
    - @project_datasets.each do |ds|
      %li
        = link_to ds.title, {:controller => :datasets,
                                         :action => :show,
                                         :id => ds.id }
        - if current_user
          = link_to image_tag("/images/cart_put.png"), create_cart_context_path(:dataset_id => ds.id), :method => :post


- unless @project.authored_paperproposals.empty?
  %b Paper proposal submissions
  %ul
    - @project.authored_paperproposals.each do |pp|
      %li
        = link_to pp.title, {:controller => :paperproposals,
                                         :action => :show,
                                         :id => pp.id }

