= content_for :info do
  %ul
    - @project.users.each do |person|
      %li
        = render :partial => person, :locals => {:extra => "(#{person.roles_for(@project).map{|e| t("role."+e.name)}.join(",")})"}
  - if current_user
    %h3 Email contact
    %ul
      %li
        = render :partial => "users/email_list_modal",
          :locals => {:list => @project.users_email_list, :css => "project_members", :caption => 'Project members'}


%h2
  = "#{@project.name} (#{@project.shortname})"
%p
  = @project.description

- unless @project_datasets.empty?
  %h3 Datasets
  %ul
    - @project_datasets.each do |ds|
      %li
        = render :partial => ds, :locals => {:with_cart => true, :with_comment => true}

= render :partial => 'paperproposals/associated_paperproposals', :locals => {:paperproposals => @project.authored_paperproposals}

