= content_for :info do
  %ul
    - @project.users.each do |person|
      %li
        = render :partial => person, :locals => {:extra => "(#{person.roles_for(@project).map{|e| t("role."+e.name)}.join(",")})"}

%h2
  = "#{@project.name} (#{@project.shortname})"
%p
  = @project.description

- unless @project_datasets.empty?
  %h3 Datasets
  %ul
    - @project_datasets.each do |ds|
      %li
        = link_to ds.title, dataset_path(ds)
        - if current_user
          = link_to image_tag("/images/cart_put.png"), create_cart_context_path(:dataset_id => ds.id), :method => :post


- unless @project.authored_paperproposals.empty?
  %h3 Paper proposal submissions
  %ul
    - @project.authored_paperproposals.sort.each do |pp|
      %li
        = link_to pp.title, paperproposal_path(pp)

