= page_title 'Cart'

%h2 Dataset cart

- if @cart.cart_datasets.blank?
  You haven't selected any datasets

- else
  %ul
    - @cart.cart_datasets.each do |cart_object|
      %li
        %span= cart_object.dataset.title
        = link_to image_tag("cancel.png", :title => "Remove from your cart."),
          delete_cart_context_path(cart_object), :method => :delete, :confirm => "Are you sure you want delete this dataset from cart?"

  - content_for :actions do
    = link_to :new_paperproposal do
      = image_tag "document.png"
      Create new paper proposal from cart
