<span style="font-size: large;">Context: <%= @context.title %></span>

<% unless @contact.blank? %>
	<p>
		For more information, please contact <%= link_to @contact, staff_path(@contact.path_name) %>
		of project <%= link_to @project, "#{project_path}/#{@project.id}" %>
	</p>
<% end %>

<div class="comment">
  <span style="font-size: medium;">Edit meta data of this context</span>
  <%= render :active_scaffold => "admin/contexts", :constraints => {:id => @context.id} %>
</div>

<div class="comment">
  <span style="font-size: medium;">Edit method descriptions of this
    context</span>
  <p> At the time of writing, it is only possible to add, but not to
    delete methods or personroles to a given columnheader (=
    measurements_methodstep) </p>
  <%= render :active_scaffold => "admin/measurements_methodsteps", 
  :constraints => {:context_id => @context.id} %>
</div>

<div>
  <%= render  :active_scaffold => "admin/methods" %>
</div>
