= form_for freeformat, :url => {:controller => :freeformats, :action => :create,
:freeformattable_id => freeformattable.id, :freeformattable_type => freeformattable.class},
:html => {:multipart => true} do |f|
  = f.error_messages
  = f.file_field :file
  %br
  = f.text_area :description, :size => "40x4"
  = f.submit 'File upload'