- only_essential_no_links ||= false


- if freeformat.is_essential
  = image_tag "star.png"

- if only_essential_no_links
  = freeformat.file_file_name
- else
  = link_to freeformat.file_file_name, download_freeformat_path(freeformat), rel: 'nofollow'
  (#{number_to_human_size freeformat.file_file_size})

- unless freeformat.description.blank?
  %br
  %i= freeformat.description
- unless freeformat.uri.blank?
  %br
  URI: #{freeformat.uri}