- if freeformat.is_essential
  = image_tag "star.png"
= link_to freeformat.file_file_name, freeformat.file.url
(#{freeformat.human_readable_filesize})
- unless freeformat.description.blank?
  %br
  %i= freeformat.description
- unless freeformat.uri.blank?
  %br
  URI: #{freeformat.uri}