%div
  =# display_page(@page)
- if logged_in?
  %div
    = render 'dataset_upload_button'
  %div
    = render 'freeformat_upload_button'

%h3 
  = link_to "Tags", {:controller => 'data', :action => 'show_tags'}

%div
  = @tags.collect{|t| t.name}.join(" -- ")
%br/
%br/
%h3 Data sets
%ul
  - @datasets.each do |ds|
    %li
      = link_to ds.title, {:controller => 'contexts', |
        :action => 'show', :id => ds.id}              |
      - if logged_in?
        = link_to image_tag("/images/cart_put.png"), create_cart_context_path(:context_id => ds.id), :method => :post
