<p><span style="font-size: large">Search Results</span></p>
<% unless @results.blank? %>
	<%= pluralize(@results.length, 'context')%> found for <b>'<%= params[:q]%>'</b>.
	<ol>
	<% @results.each do |context| %>
	  <li>
	    <b><%= link_to context.title, {:controller => 'contexts', :action => 'show', :id => context.id} %></b>
	    <p><%= truncate(context.abstract, 600, "...") unless context.abstract.blank? %></p>
	  </li>
	<% end %>
	</ol>
<% else %>
	<p>We are terriby sorry, but there are no matches for <b>'<%= params[:q]%>'</b>. Please try again.</p>
<% end %>
