%ul#foot-menu
  %li= link_to 'Help', help_path, :target => '_blank'
  %li= link_to 'Imprint', imprint_path
%ul#page-associates
  - img_heigt = '50'
  %li= link_to image_tag('logo_dfg.png', :height => img_heigt), "http://www.dfg.de/jahresbericht/detail_3_2_BIO_891.htm"
  %li= link_to image_tag('logo_ul.png', :height => img_heigt), "http://alfresco.uni-leipzig.de/spezbot"
  %li= link_to image_tag('logo_bef.png', :height => img_heigt), "http://www.bef-china.de/"