- karin_id = 3
- christian_id = 14
%h2
  Impressum
%p
  = link_to("Special Botany and functional Biodiversity", "http://alfresco.uni-leipzig.de/spezbot/")
  Faculty of Biology, University of Leipzig
%p
  Responsible for the contents of this website is
  = link_to "Prof. Dr. Christian Wirth", {:controller => :users, :action => :show, :id => christian_id}
%p
  Questions should be addressed to
  = link_to "Karin Nadrowski", {:controller => :users, :action => :show, :id => karin_id}

%hr

%p
  %strong
    Angaben gemäß § 5 TMG:
  %br
  Universität Leipzig
  %br
  Johannisallee 21-23
  %br
  04103 Leipzig
%strong
  Vertreten durch
%p
  %strong
    = link_to "Prof. Dr. Christian Wirth", {:controller => :users, :action => :show, :id => christian_id}
  %br
  Telefon: +49 341 9738576
  %br
  Telefax: +49 341 9738549
  %br
  E-Mail:
  = mail_to("cwirth@uni-leipzig.de", nil, :encode => :javascript)
%p
  %strong
    = link_to "Karin Nadrowski", {:controller => :users, :action => :show, :id => karin_id}
  %br
  E-Mail:
  = mail_to("nadrowski@uni-leipzig.de", nil, :encode => :javascript)



