- content_for :actions do
  = link_to datagroups_path do
    = image_tag "list-ordered.png"
    List Datagroups

%h2
  Categories
%table.import_values
  %tr
    %th Short
    %th Long
    %th Description
    %th Datagroup
  - @categories.each do |cat|
    %tr
      %td= link_to cat.short, cat
      %td= cat.long
      %td= cat.description
      %td= link_to cat.datagroup.title, cat.datagroup