- if current_user
  %ul
    - if current_user.open_votes_count > 0
      %li
        = link_to "Open Votes (#{current_user.open_votes_count})", votes_path
    %li
      = link_to 'Profile', profile_path
    %li
      = link_to 'Logout', logout_path
- else
  = form_for UserSession.new, :url => user_session_path do |f|
    = f.error_messages
    = f.text_field :login, :size => 8
    = f.password_field :password, :size => 8
    %span#remember_me
      = f.label :remember_me, (image_tag 'login-remember.png', :title => 'Remember me')
      = f.check_box :remember_me
    = f.submit 'Login'