<p>
  <b>Person:</b>
  <%=h @context_freeperson.person_id %>
</p>

<p>
  <b>Context:</b>
  <%=h @context_freeperson.context_id %>
</p>

<p>
  <b>Comment:</b>
  <%=h @context_freeperson.comment %>
</p>


<%= link_to 'Edit', edit_context_freeperson_path(@context_freeperson) %> |
<%= link_to 'Back', context_freepeople_path %>