!!!
%html{:lang => "en", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %title
      BEF-China Admin: #{controller.controller_name + " - " + controller.action_name}
    -#= stylesheet_link_tag 'admin'
    -#= stylesheet_link_tag 'scaffold'
    = javascript_include_tag :defaults
    = active_scaffold_includes
  %body.admin_body
    #menu_line
      = link_to 'Frontend', root_path
      = link_to 'Datasets', admin_datasets_path
      = link_to 'Users', admin_users_path
      = link_to 'Projects', admin_projects_path
      = link_to 'Datagroups', admin_datagroups_path
      = link_to 'Datacolumns', admin_datacolumns_path
      = link_to 'Tags', admin_tags_path
      = link_to 'Categoricvalues', admin_categoricvalues_path
      = link_to 'Freeformats', admin_freeformats_path
      = link_to 'Paperproposal', admin_paperproposals_path
      -#= %w[pages people institutions                                                                                                                          |
      -#  projects roles contexts methods measurements_methodsteps tags categoricvalues].map {|item| link_to display_name(item), :controller => item}.join(" ") |
    %p{:style => "color: green"}= flash[:notice]
    %div{:style => "margin: 3px"}
      = yield