!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    - if with_customized_layout?
      = stylesheet_link_tag 'site'
      = javascript_include_tag 'site'
    %title
      = SITE_CONFIG[:title]
      - if content_for? :title
        |
        = yield(:title)
      - elsif SITE_CONFIG[:subtitle]
        |
        = SITE_CONFIG[:subtitle]
    = csrf_meta_tags
    = render :partial => "pages/#{LayoutHelper::BEF_LAYOUT}/head"
  %body
    - unless Rails.env == 'production'
      #rails_env_notice= "You are currently working under #{Rails.env} environment."
    .container
      #header.span-12
        #logo
        #search
          = render :partial => 'pages/search'
        #menu
          = render :partial => 'pages/menu'
        #login
          = render :partial => 'user_sessions/login'
      #content
        #error{class: flash[:error].present? ? nil : 'hidden'}
          = flash[:error]
          = link_to  "", "#", class: "hide_parent"
        #notice{class: flash[:notice].present? ? nil : 'hidden'}
          = flash[:notice]
          = link_to  "", "#", class: "hide_parent"

        - sidebar_exists = content_for?(:actions) || content_for?(:info)
        #main{:class => sidebar_exists ? "span-8 append-1" : "span-12"}
          = content_for?(:content) ? yield(:content) : yield
        - if sidebar_exists
          #sidebar.span-3.last
            - if content_for?(:actions)
              #actions
                = yield :actions
            - if content_for?(:info)
              #info
                = yield :info
      #footer.span-12
        = render :partial => "pages/#{LayoutHelper::BEF_LAYOUT}/footer"

    - if SITE_CONFIG[:google_analytics_account]
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', "#{SITE_CONFIG[:google_analytics_account]}"]);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
