!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title Biodiversity
    = stylesheet_link_tag 'ui-lightness/jquery-ui'
    = stylesheet_link_tag :all
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery-ui'
    = javascript_include_tag 'jquery-cookie'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'application'
    = active_scaffold_includes
    = csrf_meta_tag
  %body
    - unless Rails.env == 'production'
      -##rails_env_notice{:style => 'background-color: #fafad2'}= "You are currently working under #{Rails.env} environment."
      -# UNCOMMENT THE LINE ABOVE! THIS IS JUST USED FOR REDESIGN!
    .container
      #header.span-12
        #logo
        #menu
          = render :partial => 'pages/menu'
        #login
          = render :partial => 'user_sessions/login'
      #content
        - if flash[:error]
          #error
            = flash[:error]
        - if flash[:notice]
          #notice
            = flash[:notice]
        - if content_for?(:actions) || content_for?(:info) then
          #main.span-8.append-1
            = yield
          #sidebar.span-3.last
            - if content_for?(:actions)
              #actions
                = yield :actions
            - if content_for?(:info)
              #info
                = yield :info
        - else
          #main.span-12
            = yield
      #footer.span-12
        = render :partial => 'pages/footer'