!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    = stylesheet_link_tag 'ui-lightness/jquery-ui'
    = stylesheet_link_tag 'superfish'
    = stylesheet_link_tag 'style'
    = javascript_include_tag 'jquery'
    = javascript_include_tag 'jquery-ui'
    = javascript_include_tag 'jquery-cookie'
    = javascript_include_tag 'rails'
    = javascript_include_tag 'application'
    = active_scaffold_includes
    = csrf_meta_tag
    = render :partial => "pages/#{LayoutHelper::BEF_LAYOUT}/head"
  %body
    - unless Rails.env == 'production'
      #rails_env_notice= "You are currently working under #{Rails.env} environment."
    .container
      #header.span-12
        #logo
        #search
          = render :partial => 'pages/search'
        #menu
          = render :partial => 'pages/menu'
        #login
          = render :partial => 'user_sessions/login'
      #content
        - if flash[:error]
          #error
            = flash[:error]
        - if flash[:notice]
          #notice
            = flash[:notice]
        - if content_for?(:actions) || content_for?(:info) then
          #main.span-8.append-1
            = yield
          #sidebar.span-3.last
            - if content_for?(:actions)
              #actions
                = yield :actions
            - if content_for?(:info)
              #info
                = yield :info
        - else
          #main.span-12
            = yield
      #footer.span-12
        = render :partial => "pages/#{LayoutHelper::BEF_LAYOUT}/footer"