!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title FunDivEUROPE | Functional significance of forest biodiversity in Europe
    %link{"rel" => "stylesheet", "href" => "http://www.fundiveurope.eu/wp-content/themes/fundiveurope/style.css", "type" => "text/css", "media" => "all"}
    = stylesheet_link_tag "fundiv_style"
    %link{"rel" => "icon", "href" => "http://www.fundiveurope.eu/favicon.ico", "type" => "image/x-icon"}
    = javascript_include_tag :defaults
    = active_scaffold_includes
    = csrf_meta_tag

  %body.home
    #wrapper.hfeed
      #header
        #headerlogos
          %a{:href => "http://www.fundiveurope.eu", :id => "nav_home", :class => "indivnav"}
          %a{:href => "http://europa.eu/", :id => "nav_eu", :class => "indivnav"}
          %a{:href => "http://cordis.europa.eu/fp7/home_en.html", :id => "nav_7th", :class => "indivnav"}

      #menu
        %ul.navlist
          %li= link_to 'Home', root_path
          %li= link_to 'Projects', projects_path
          %li= link_to 'Staff', users_path
          %li= link_to 'Data', data_path
          %li= link_to 'Help', help_path
          %li= link_to 'Imprint', imprint_path
          - if current_user
            %li= link_to image_tag("/images/page.png", :title => 'Paperproposal'), :paperproposals
            %li= link_to image_tag("/images/user_edit.png", :title => 'Profile'), profile_path
            %li= link_to image_tag("/images/cart.png", :title => 'Cart'), current_cart_url
            - if current_user.has_role?(:admin)
              %li= link_to image_tag("/images/admin.png", :title => "Admin"), admin_datasets_path
            %li= link_to image_tag("/images/logout.png", :title => "Logout"), logout_path
          - else
            %li= link_to 'Login', login_path

      #main
        #container
          - if flash[:error]
            #error
              = flash[:error]
          - if flash[:notice]
            #error
              = flash[:notice]
          = yield
      #footer
        #footernav
          %ul
            %li.page_item.page-item-17
              %a{:href => "http://www.fundiveurope.eu/", :title => "Welcome to FunDivEurope!"}
                Welcome to FunDivEurope!
            %li.page_item.page-item-2
              %a{:href => "http://www.fundiveurope.eu/?page_id=2", :title => "News"}
                News
            %li.last_page_item.page-item-58
              %a{:href => "http://www.fundiveurope.eu/?page_id=58", :title => "Contact"}
                Contact